.mobile {
    display: block;
}
.text-head {
    font-size: 50px;
}
.text-sub-head {
    font-size: 40px;
}
.text-body-main {
    font-size: 28px;
}
.text-body-sub {
    font-size: 24px;
}
.text-detail {
    font-size: 22px;
}
.text-sub-detail {
    font-size: 20px;
}
.text-extra-small {
    font-size: 18px;
}
.text-line-mobile1 {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.row-no-padding > .col {
    padding: 0px;
}
.col-no-pading {
    padding: 0px;
}
.div-navbarout{ 
    position: absolute; 
    z-index: 999; 
    width: 100%;
}
.text-gray-ptg {
    color: #6b6b6b!important;
}
.icon-login{ width: 50px;}
/* .div-navbarin{ 
    text-align: center; 
    transform: translateY(-65px);
} */
.btn-custom{  
    background-color: transparent; 
    border:none; font-family: 'HelvethaicaMed';  
    color: white; 
    font-size: 25px; 
}
.border-rds{
    border-radius: 25px; 
    border: 1px solid white; 
    line-height: 20px; 
    padding-top: 10px; 
    width: 100%;
}
.border-rds.foot{ border-radius: 25px; border: 1px solid #2aa84d; }
.font-recommend{ color: #2aa84d;}
button:focus {
    outline: none;
  }
.container-content {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: 30px;
}
.fix-icon{ width: 50%; }
.font-PT{ 
    font-family: 'HelvethaicaMed'; 
    color:#2aa84d; 
    font-size: 60px; 
    margin: 60px 0;
}
.font-body{ 
    font-family: 'HelvethaicaX'; 
    color:#2aa84d; 
    font-size: 25px; 
    text-align: center;
    margin-top: 10px;
}
.mt-block{ 
    margin-bottom: 10px; 
    padding-right: 0 !important;
}
.mt-box{ 
    margin-top: 50px; 
    position: relative;
}
.vertical-box { 
    position: absolute; 
    top: 50%; 
    left: 77%; 
    transform: translate(-50%, -50%);
}
.header-body-pt{ 
    color:#2aa84d; 
    font-family: 'HelvethaicaMed'; 
    font-size: 40px; 
    line-height: 45px;
}
.content-body-pt{ 
    color:black; 
    font-family: 'HelvethaicaX'; 
    font-size: 24px; 
    line-height: 25px;
}
.btn-detail{ 
    background-color: #c62a2d; 
    color: white;
    border-radius: 20px;
    font-family: 'HelvethaicaMed';
    padding: 0 20px;
    font-size: 20px;
    width: 40%;
}
.btn-detail.register{ 
    background-color: #2aa84d; 
    width: 40%;
}
.btnstation{ background-color: #c62a2d;
    color: white;
    border-radius: 20px;
    font-family: 'HelvethaicaMed';
    padding: 0 20px;
    font-size: 20px;
    width: 200px;
}
.btnstation.detail{ background-color: #2aa84d; width: 200px;}
.bg-content{ background: url(https://ptmaxcard.com/images/bgweb-01.jpg); background-size: cover;}
.bg-subcontents{ background: url(https://ptmaxcard.com/images/bgapp-01.jpg); background-size: cover; margin:0;}
.marginbt-subcontent{ padding-bottom: 30px; padding-top: 30px;}
.textinsubcontent{ margin: 5px 0; width: 100%; padding: 15px 0;}
.title-subcontent{
    color: #53a149;
    font-size: 60px;
    font-family: 'HelvethaicaX';
    margin: 0 35px;
}
.iconinsubcontent{ 
    margin: 15px 0;
    width: 100%;
}
.title-body{ 
    font-size: 60px;
    color: white;
    font-family: 'HelvethaicaMed';
    margin: 0 50px;
}
.title-news{
    color: white;
    font-family: 'HelvethaicaMed';
    font-size: 60px;
    margin: 0 50px;
    padding-top: 50px;
}
.title-green{ font-family: 'HelvethaicaMed'; color: #2aa84d; font-size: 60px; margin: 0 50px;}
.card-img-top{ border-radius: 10px;}
.card{ background-color: transparent !important;}
.card-body{ background-color: #a6c64b; border-radius: 10px; height: 80px; line-height: 16px;}
.card-text{ font-family: 'HelvethaicaMed'; color: white;}
.set-margin{
    border: rgba(255, 255, 255, 0) 5px solid;
}
.text-sub-content{ font-family: 'HelvethaicaMed'; font-size: 30px; color: #2aa84d; line-height: 22px;}
.text-sub-contentbody{ font-family: 'HelvethaicaX'; font-size: 18px; line-height: 22px;}
.LazyLoad:not(.is-visible) {
    background: url(https://ptmaxcard.com/images/lazy-loading.gif) 50% 50% no-repeat transparent;
    height: 270px;
}
.in-container .LazyLoad:not(.is-visible) {
    background: url(https://ptmaxcard.com/images/lazy-loading.gif) 50% 50% no-repeat transparent;
    height: 90px;
}
.mb-apppt{
    margin-bottom: 0;
}
.set-absolute{ position: absolute;}
.place-rec{ width: 10%;}
.set-inline{ display: inline; margin: 0 10px;}
.head-footer-font{ font-family: 'HelvethaicBd'; font-size: 25px;}
.ptg-energy-font{ font-family: 'Ramintra'; font-size: 30px; line-height: 20px;}
.set-content-detail{ vertical-align: middle; }
.mobile-pt{ display: none;}
.line-clamp {     
    font-size: 16px;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.seeAllright{ float:right;width:100px; margin-top:15px; margin-right: 80px;}
.seeAllInline{ display: inline; }
.text-station{ position: absolute; z-index: 999; }
.picture-station{ position: relative; width: 100%; }
.btn-station{ 
    z-index: 999;
    position: absolute;
    margin-top: -10%;
    left: 37%;
}
/* .fix-slider{ padding: 80px; } */
.header-sigin{
    color: #2aa84d;
    font-size: 40px;
    font-family: 'HelvethaicBd';
    text-align: left;
}
.label-forgot{
    color: #ababab;
    font-family: 'HelvethaicaLi';
    text-align: left;
}
.label-header{
    color:#2aa84d;
    font-family: 'HelvethaicaLi';
    text-align: left;
}
.label-text-pc{
    font-family: 'HelvethaicaLi';
}

.img-banner-home {
    max-height: 500px;
}

.home { 
    padding: 2.5em 0px;
}

.fontSizeCase {
    font-size: 24px;
}

.img-mobile-home {
    width: 90%;
}

.bg-home-phone{
    background-image: url(/images/bgapp-01.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: cover;
    background-size: 110%;
}

.home-all-title{
    color: #2aa84d;
    font-size: 50px;
    line-height: 34px;
    margin: 16px 0px;
}

.form-control-set{
    display: block;
    width: 100%;
    padding: 5px 11px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-set:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }



/* SLIDE REWARD */
.bg-home-cotentreward{
    background-color: #299247;
    /* background-image: url(/images/bgweb-01.jpg); */
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: cover;
    background-size: 100%;
}
.home-cotentreward{
    padding: 2.5em 0rem!important;
}
.home-cotentreward-title{
    margin-top: 10px;
    font-size: 50px;
    color: white;
}
.seeall {
    padding: 0px;
}
.home-cotentreward-btn{
    margin-top: -10px;
    border-radius: 25px;
    border: 1px solid white;
    color: white;
    padding: 9px 30px 0px 30px;
    font-size: 20px;
}
.home-cotentreward-slide {
    margin-top: 20px;
}
.home-cotentreward-slide .slick-prev:before{
    margin-left: -45px!important
}
.home-cotentreward-slide .slick-prev:before, .slick-next:before {
    font-size: 45px!important;
}
.home-cotentreward-slide-card{
    border:none!important;
    padding: 0px 1rem!important;
}
.home-cotentreward-slide-card-body{
    word-break: break-all;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #a6c64b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 16px;
    height: 100px;
    position: relative;
}
.home-cotentreward-slide-detail{
    font-size: 20px!important;
    color: white!important;
    line-height: 26px;
}
.home-cotentreward-slide-card-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 330px;
}
.home-cotentreward-slide-dotleft{
    position: absolute;
    left: 0;
    margin-left: 3px;
    margin-top: -10px;
    background-color: #299247!important;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: inset -2px 0px 1px #299247;
}
.home-cotentreward-slide-dotright{
    position: absolute;
    right: 0;
    margin-top: -10px;
    margin-right: 3px;
    background-color: #299247!important;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: inset 2px 0px 1px #299247;
}

.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 20px;
}

.deal-content{
    margin-top: 20px;
}

.img-banner-detail{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.home-banner-Carousel .carousel-indicators li{
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%!important;
}
.home-banner-Carousel .carousel-indicators .active {
    background-color: #f00;
}
.home-banner-Carousel .carousel-control-next, .carousel-control-prev{
    display: none;
}

.img-home-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.home-content-ptcard{
    padding: 0px 50px;
}
.btn-home-ptcardred{
    background-color: #c62a2d; 
    color: white;
    border-radius: 20px;
    font-family: 'HelvethaicaMed';
    padding: 8px 20px 3px 20px;
    font-size: 20px;
    margin-right: 10px;
}
.btn-home-ptcardgreen{
    background-color: #2aa84d;
    color: white;
    border-radius: 20px;
    font-family: 'HelvethaicaMed';
    padding: 8px 20px 3px 20px;
    font-size: 20px;
}
.home-location-img{
    position: relative;
    margin: 2.5em 0px 0px 0px;
}
.home-location-top{
    position: absolute;
    z-index: 1;
    top: 0;
}
.home-location-bottom{
    position: absolute;
    z-index: 1;
    bottom: 70px;
    left: 0;
    width: 100%;
}
.btn-home-ptcardred-location{
    background-color: #c62a2d; 
    color: white;
    border-radius: 20px;
    font-family: 'HelvethaicaMed';
    font-size: 20px;
    margin-right: 10px;
}
.btn-home-ptcardgreen-location{
    background-color: #2aa84d;
    color: white;
    border-radius: 20px;
    font-family: 'HelvethaicaMed';
    padding: 5px;
    font-size: 20px;
}
.home-all-title-location{
    padding-bottom: 20px!important;
    color: #2aa84d;
    font-size: 50px;
    line-height: 50px;
}
/* .home-location-p1{
    width: 100px;
} */
/* .content-place-recommend > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.content-place-recommend > .row > .col-3 {
    display: inline-block;
    float: none;
} */

.home-banner-Carousel .carousel {
    z-index: -1!important;
}
.home-banner-Carousel .carousel-item {
    z-index: -1!important;
}

.recommend-location-img{ padding: 0px 8px; }
.slick-next{right: 0 !important;}
.home-none-data{
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 80px 0;
}


.label_dontshowads {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    padding: 1px 10px 0px 30px;
    margin: 12px 0px 10px;
    border-radius: 2px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 27px;
    width: 100%;
    color: #ffffff;
    font-family: 'HelvethaicaMed';
    font-size: 20px;
    text-align: left;
}

.btn_dontshowads {
    border-radius: 15px;
    padding: 2px;
    width: 35px;
    margin-top:5px;
}

.bg-white{
    background: white;
    z-index: 0;
    position: relative;
    margin-top: 30px;
}
.home-banner-Carousel .carousel-inner{
    border-radius: 15px;
}

.fix-icon-home{
    width: 40%;
}

/* The label_checkpopup */
.label_checkpopup {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 1px 10px 0px 30px;
    margin: 5px 0px 10px;
    border-radius: 15px;
    line-height: 37px;
    width: 100%;
    color: #ffffff;
  }
  
  /* Hide the browser's default radio button */
  .label_checkpopup input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkbox_checkpopup {
    position: absolute;
    top: 3px;
    left: 0px;
    height: 22px;
    width: 22px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #ffffff;
  }
  
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkbox_checkpopup:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .label_checkpopup input:checked ~ .checkbox_checkpopup:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .label_checkpopup .checkbox_checkpopup:after {
    left: 2px;
    top: 2px;
    border: solid #03ac4f;
    border-width: 8px;
    border-radius: 15px;
  }

  .row-banner{
    max-height: 670px
  }

  .img-banner{
    max-height: 650px;
  }

/* .label_checkpopup input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.label_checkpopup {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 1px 10px 0px 30px;
    margin: 5px 0px 10px;
    border-radius: 15px;
    line-height: 37px;
    width: 100%;
    color: #ffffff;
}

.checkbox_checkpopup {
    position: absolute;
    top: 3px;
    left: 0px;
    height: 22px;
    width: 22px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #ffffff;
} */



@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .font-PT{ font-size: 40px;}
        .font-body{ font-size: 20px; line-height: 50px; margin-top:5px;}
        .fix-icon{ width: 60%;}
        .container-content{ padding: 20px;}
        .div-navbarout{ display: none;}
        .mobile-pt{ display: block;padding-left: 30px;padding-right: 30px;}
        .pc-pt{ display: none;}
        .content-body-pt{ font-size: 20px; line-height: 20px;}
        .header-body-pt{ font-size: 30px; line-height: 35px;}   
        .mt-block{ padding: 5px; }
        .content-pt{ padding: 0;}
        .LazyLoad:not(.is-visible) { height: 120px;}
        .title-body{ font-size: 40px; line-height: 35px; margin: 0;}
        .fix-slider{ padding: 30px;} 
        .border-rds{ width: 30%;} 
        .border-rdss{ width: 80; border-radius: 25px; border: 1px solid white; line-height: 20px; padding-top: 10px; }
        .border-rdss.bb{border-radius: 25px; border: 1px solid #2aa84d;}
        .set-pdmobile{ padding: 0 30px; position: relative;}
        .set-seeall{ width: 80%;right: 28px;text-align: right; top: 50px;position: absolute;}
        .title-subcontent{ font-size: 40px; line-height: 35px; margin:0;}
        .bg-subcontents{ 
            background-position: bottom; 
            background: url(https://ptmaxcard.com/images/bgapp-pt.jpg) no-repeat center center fixed; 
            background-size: cover; 
            height: auto; 
            background-attachment: scroll;
        }.content-sub{ padding: 5px 0;margin: 14px 0;}
        .btn-detail{ width: 47%;} .btn-detail.register{ width: 47%;}
        .text-sub-content{ font-size: 25px;} .set-seeall{ top:40px;}.title-green{ font-size: 40px; margin: 0 14px;}
        .btnstation{ width:130px;padding-top: 5px;} .btnstation.detail{ width: 130px;} 
        .setmb-station{
            position: absolute;   
            left: 16%;
            transform: translate(0, -113%);
        }.place-rec{ width: 14%;} .seeAllright{ margin: 34px 0;}
        .setalign{ 
            position: absolute;
            margin-top: -15%;
            transform: translate(65%, 10%);
        }
        .setalign-two{ 
            position: absolute;
            margin-left: 105px;
            margin-top: -25px;
        }
        .centered{
            transform: translate(-50%, 70%);
        } 
        .settitlemb{     
            transform: translate(0, 40%);
            right: 5%;
            width: 8%;
        }
        .settitlebm{ 
            transform: translate(0, 40%);
            left: 50%;
            width: 50%;
        }
        .setnavmb{ position: absolute; z-index: 999;width: 100%; top: 70%; }
        .arrow-up {
            margin-left: 87%;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #fefefe;
        }
        .arrow-down{
            left: 0;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #75b652;
            position: absolute;
            top: 37%;
        }
        .bg-navigation-mobile{
            background-color: #75b652;
            height: 100vh;
        }
        .border-nav-mobile{
            border-bottom: 1px solid white;
        }
        .setting-navpos{
            position: absolute;
            z-index: 999;
            padding: 50px 50px;
            margin-top: 34px;
            width: 375px;
            left: 0;
        }
        .bd-radius{
            border-radius: 20px;
            padding-top: 8px;
            margin: 20px 30px;
            background-color: #c6292d;
            color: white;
            font-family: 'HelvethaicBd';
            font-size: 25px;
            border: none;
        }
        .navbarsetting{
            position: absolute;
            /* z-index: 999; */
            top: 25%;
        }
        .dropdown-toggle::after{
            border:none;
        }
        a:hover{
            color: white;
        }
        .dropdown-item{
            font-family: 'HelvethaicaX';
            font-size: 23px;
            color: #75b652;
            padding: 15px 50px;
        }
        .border-dropdown-it{
            border-bottom: 1px solid #75b652;
        }
        .navbar-nav .dropdown-menu {
            width: 136.5%;
            margin-top: -1px;
            border: none;
            border-radius: 0;
            margin-left: -50px;
            position: static;
            float: none;
        }
}
@media screen and (orientation: landscape) and (max-width: 960px) {
    .text-head {
        font-size: 50px;
    }
    .text-sub-head {
        font-size: 32px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 359px){ /* For iPhone 5 */
    .home { 
        padding: 16px 0px;
    }
    .text-head {
        font-size: 40px !important;
    }
    .text-sub-head {
        font-size: 32px !important;
    }
    .text-body-main {
        font-size: 24px;
    }
    .text-body-sub {
        font-size: 22px;
    }
    .text-detail {
        font-size: 20px;
    }
    .text-sub-detail {
        font-size: 18px;
    }
    .text-extra-small {
        font-size: 14px;
    }
    .col-no-pading {
        padding: 0px;
    }
    .div-navbarout{ 
        position: absolute; 
        z-index: 999; 
        width: 100%;
    }

    .home-all-title {
        font-size: 32px;
        margin: 0px 0px 10px 0px;
    }
    .home-all-title-location {
        margin: 8px 0px !important;
    }
    
    .bg-home-cotentreward { background-size: auto!important; }
    .home-cotentreward{ padding:16px 0px!important; }
    .home-cotentreward-title {
        font-size: 30px!important;
    }
    .home-cotentreward-btn {
        margin-top: 0px!important;
        padding: 7px 10px 0px 10px!important;
        font-size: 20px!important;
    }
    .home-cotentreward-slide-card{
        border:none!important;
        padding: .5rem!important;
    }
    .home-cotentreward-slide-card-body{
        padding:1rem!important;
        height: 100px!important;
    }
    .home-cotentreward-slide-detail {
        font-size: 22px!important;
        color: white!important;
        line-height: 22px!important;
    }
    .slick-prev:before,.slick-next:before,
    .slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {
        display: none!important;
    }
    .home-cotentreward-slide-dotleft{
        margin-left: -5px!important;
    }
    .home-cotentreward-slide-dotright{
        margin-right: -5px!important;
    }
    .btn-home-ptcardred-location{
        padding: 0;
        font-size: 18px;
    }
    .deal-content{
        margin-top: 0px;
    }
    .home-location-img{
        margin: 30px 0 30px 0px;
    }
    .bg-home-phone{
        background-image: url(/images/bgapp-pt.jpg) center center fixed;
        background-repeat: no-repeat;
        background-position: bottom;
        height: auto;
        background-attachment: scroll;
    }
    .img-mobile-home {
        width: 75%;
        margin-left: 30px;
    }    
    .col-iconinsubcontent {
        padding: 0px;
    }

    .label_checkpopup {
        font-size: 18px !important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 360px) and (max-width: 374px){ /* For Galaxy S5 */
    .mobile {
        display: none;
    }
    .home { 
        padding: 30px 0px;
    }
    .text-head {
        font-size: 40px !important;
    }
    .text-sub-head {
        font-size: 32px !important;
    }
    .text-body-main {
        font-size: 24px;
    }
    .text-body-sub {
        font-size: 22px;
    }
    .text-detail {
        font-size: 20px;
    }
    .text-sub-detail {
        font-size: 18px;
    }
    .text-extra-small {
        font-size: 14px;
    }
    .col-no-pading {
        padding: 0px;
    }
    .bg-home-cotentreward { background-size: auto!important; }
    .home-cotentreward{ padding:30px 0px 30px 0px!important; }
    .home-cotentreward-title {
        font-size: 36px!important;
    }
    .home-cotentreward-btn {
        margin-top: 0px!important;
        padding: 7px 10px 0px 10px!important;
        font-size: 20px!important;
    }
    .home-cotentreward-slide-card{
        border:none!important;
        padding: .5rem!important;
    }
    .home-cotentreward-slide-card-body{
        padding:1rem!important;
        height: 100px!important;
    }
    .home-cotentreward-slide-detail {
        font-size: 22px!important;
        color: white!important;
        line-height: 22px!important;
    }

    
    .slick-prev:before,.slick-next:before,
    .slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {
        display: none!important;
    }
    .home-cotentreward-slide-dotleft{
        margin-left: -5px!important;
    }
    .home-cotentreward-slide-dotright{
        margin-right: -5px!important;
    }
    .btn-home-ptcardred-location{
        padding: 0;
        font-size: 18px;
    }
    .deal-content{
        margin-top: 0px;
    }
    .home-location-img{
        margin: 30px 0 30px 0px;
    }
    .bg-home-phone{
        background-image: url(/images/bgapp-pt.jpg) center center fixed;
        background-repeat: no-repeat;
        background-position: bottom;
        height: auto;
        background-attachment: scroll;
    }
    .img-mobile-home {
        width: 75%;
        margin-left: 30px;
    } 
    .col-iconinsubcontent {
        padding: 0px;
    }
    .home-all-title{
        color: #2aa84d;
        font-size: 30px;
        line-height: 34px;
        margin: 16px 0px;
    }
    .label_checkpopup {
        font-size: 18px !important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .maxcardplus-banner-content{
        padding-bottom: 1em !important;
    }
    .mobile {
        display: none;
    }
    .home { 
        padding: 1em 0px;
    }
    .text-head {
        font-size: 40px !important;
    }
    .text-sub-head {
        font-size: 34px;
    }
    .text-body-main {
        font-size: 26px;
    }
    .text-body-sub {
        font-size: 22px;
    }
    .text-detail {
        font-size: 20px;
    }
    .text-sub-detail {
        font-size: 18px;
    }
    .text-extra-small {
        font-size: 14px;
    }
    .bg-home-cotentreward { background-size: auto!important; }
    .home-cotentreward{ padding:30px 0px 30px 0px!important; }
    .home-cotentreward-title {
        font-size: 30px!important;
        padding: 0px;
    }
    .home-cotentreward-btn {
        margin-top: 0px!important;
        padding: 7px 10px 0px 10px!important;
        font-size: 20px!important;
    }
    .home-cotentreward-slide-card{
        border:none!important;
        padding: .5rem!important;
    }
    .home-cotentreward-slide-card-body{
        padding:1rem!important;
        height: 100px!important;
    }
    .home-cotentreward-slide-detail {
        font-size: 22px!important;
        color: white!important;
        line-height: 22px!important;
    }
    .slick-prev:before,.slick-next:before,
    .slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {
        display: none!important;
    }
    .home-cotentreward-slide-dotleft{
        margin-left: -5px!important;
    }
    .home-cotentreward-slide-dotright{
        margin-right: -5px!important;
    }
    .btn-home-ptcardred-location{
        padding: 0;
        font-size: 18px;
    }
    .deal-content{
        margin-top: 0px;
    }
    .home-location-img{
        margin: 30px 0 30px 0px;
    }
    .bg-home-phone{
        background-image: url(/images/bgapp-pt.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        height: auto;
        background-attachment: scroll;
    }
    .img-mobile-home {
        width: 75%;
        margin-left: 30px;
    } 
    .col-iconinsubcontent {
        padding: 0px;
    }
    .home-all-title{
        color: #2aa84d;
        font-size: 30px;
        line-height: 34px;
        margin: 16px 0px;

    }
    .label_checkpopup {
        font-size: 20px !important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .mobile {
        display: none;
    }
    .home { 
        padding: 30px 0px;
    }
    .bg-home-cotentreward { background-size: auto!important; }
    .home-cotentreward{ padding:30px 0px 30px 0px!important; }
    .home-cotentreward-title {
        font-size: 30px!important;
    }
    .home-cotentreward-btn {
        margin-top: 0px!important;
        padding: 7px 30px 0px 30px!important;
        font-size: 20px!important;
    }
    .home-cotentreward-slide-card{
        border:none!important;
        padding: .5rem!important;
    }
    .home-cotentreward-slide-card-body{
        padding:1rem!important;
        height: 100px!important;
    }
    .home-cotentreward-slide-detail {
        font-size: 22px!important;
        color: white!important;
        line-height: 22px!important;
    }
    .slick-prev:before,.slick-next:before,
    .slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {
        display: none!important;
    }
    .home-cotentreward-slide-dotleft{
        margin-left: -5px!important;
    }
    .home-cotentreward-slide-dotright{
        margin-right: -5px!important;
    }
    .btn-home-ptcardred-location{
        padding: 0;
        font-size: 18px;
    }
    .deal-content{
        margin-top: 0px;
    }
    .home-location-img{
        margin: 30px 0 30px 0px;
    }
    .bg-home-phone{
        background-image: url(/images/bgapp-pt.jpg) center center fixed;
        background-repeat: no-repeat;
        background-position: bottom;
        height: auto;
        background-attachment: scroll;
    }
    .home-all-title{
        color: #2aa84d;
        font-size: 30px;
        line-height: 34px;
        margin: 16px 0px;
    }
    .label_checkpopup {
        font-size: 20px !important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
    .bg-home-cotentreward { background-size: auto!important; }
    .home-cotentreward{ padding:30px 0px 30px 0px!important; }
    .home-cotentreward-title {
        font-size: 30px!important;
    }
    .home-cotentreward-btn {
        margin-top: 0px!important;
        padding: 7px 30px 0px 30px!important;
        font-size: 24px!important;
    }
    .home-cotentreward-slide-card{
        border:none!important;
        padding: .5rem!important;
    }
    .home-cotentreward-slide-card-body{
        padding:1rem!important;
        height: 100px!important;
    }
    .home-cotentreward-slide-detail {
        font-size: 22px!important;
        color: white!important;
        line-height: 22px!important;
    }
    .slick-prev:before,.slick-next:before,
    .slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {
        display: none!important;
    }
    .home-cotentreward-slide-dotleft{
        margin-left: -5px!important;
    }
    .home-cotentreward-slide-dotright{
        margin-right: -5px!important;
    }
    .btn-home-ptcardred-location{
        padding: 0;
        font-size: 18px;
    }
    .home-cotentreward-title{
        font-size: 50px!important;
    }
    .bg-home-phone{ background-position: bottom !important;}
}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */
    .bg-home-cotentreward { background-size: auto!important; }
    .home-cotentreward{ padding:30px 0px 30px 0px!important; }
    .home-cotentreward-title {
        font-size: 30px!important;
    }
    .home-cotentreward-btn {
        margin-top: 0px!important;
        padding: 7px 30px 0px 30px!important;
        font-size: 24px!important;
    }
    .home-cotentreward-slide-card{
        border:none!important;
        padding: .5rem!important;
    }
    .home-cotentreward-slide-card-body{
        padding:1rem!important;
        height: 100px!important;
    }
    .home-cotentreward-slide-detail {
        font-size: 22px!important;
        color: white!important;
        line-height: 22px!important;
    }
    .slick-prev:before,.slick-next:before,
    .slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {
        display: none!important;
    }
    .home-cotentreward-slide-dotleft{
        margin-left: -5px!important;
    }
    .home-cotentreward-slide-dotright{
        margin-right: -5px!important;
    }
    .btn-home-ptcardred-location{
        padding: 6px 0px 0px 0px;
        font-size: 18px;
    }
    .home-cotentreward-title{
        font-size: 50px!important;
    }
    .bg-home-phone{ background-position: bottom !important;}
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 1023px){ /* For Mobile */
    .bg-white{
        background: white;
        z-index: 0;
        position: relative;
        margin-top: 10px!important;
    }
    .home-location-img{
        margin: 30px 0px 0px 0px;
    }
    .home-content-ptcard{
        padding: 30px 0px 0px 0px;
    }
    .home-all-title-location{
        padding-bottom: 0rem!important;
        color: #2aa84d;
        font-size: 30px;
        line-height: 34px;
        margin: 16px 0px;
    }
    .home-location-bottom{
        bottom: 10px;
    }
    .btn-home-ptcardgreen-location{
        padding: 0px;
    }

    .home-popupbanner-btn{
        border-radius: 25px;
        padding: 4px 15px 0px 15px!important;
        /* width: 35px; */
        margin-top: 5px;
        color: #212529;
        margin-bottom: 7px;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        font-size: 16px!important;
    }
}

@media (min-width: 1500px){
    .home.container {
        max-width: 1700px;
    }
}

.maxcardplus-banner-content{
    padding-bottom: 2.5em;
}

.home-popupbanner .sweet-alert{
    width: 60rem!important;
}
.home-popupbanner-btn{
    border-radius: 25px;
    padding: 6px 25px 0px 25px;
    /* width: 35px; */
    margin-top: 5px;
    color: #212529;
    margin-bottom: 7px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    font-size: 20px;
}