body{
    font-family: 'HelvethaicaMed';
}
.nav{
    display: block;
}
.nav>li>button{ 
    padding: 5px 0;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #bbb; 
    color: #bbb; 
    background-color: white; 
    font-size: 25px;
    font-family: 'HelvethaicaMed';
}
.nav>li>button:focus, .nav>li>button:hover{
    padding: 5px 0;
    width: 100%;
    color: #53a149;
    border: 1px solid #53a149;
    background-color: white;
    font-size: 25px;
    font-family: 'HelvethaicaMed';
}
li.active>button{
    padding: 5px 0;
    width: 100%;
    color: #53a149;
    border: 1px solid #53a149;
    background-color: white;
    font-size: 25px;
    font-family: 'HelvethaicaMed';
}
.header-title{ font-size: 20px; text-align: left; }
.inputTel{
    font-size: 25px;
    width: 70%;
    border: 1px solid #bbb;
}
.btnNext{ 
    padding: 10px 0;
    background-color: #054d21;
    width: 70%;
    color: white;
    border:none;
    font-size: 25px;
    font-family: 'HelvethaicaMed';
    border-radius: 20px;
}
.bg-body{
    background-color: #5fa755;
}
.bg-body-regis{
    background-color: #f5f5f5;
}
.content-white{
    background-color: white;
    margin: 0 100px;
    height: 500px;
    border-radius: 5px;
    padding-top: 80px;
}
.content-otp{
    background-color: white;
    margin: 0 100px;
    height: 500px;
    border-radius: 5px;
    padding-top: 0;
}
input:focus{
    outline: 0;
}
.alert-dismiss{
    line-height: 20px;
}
/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
    .nav>li>button{ 
        width: 100%;
    }
    .nav>li>button:focus, .nav>li>button:hover{
        width: 100%;
    }
    li.active>button{
        width: 100%;
    }
    .inputTel{
        width: 100%;
    }
    .btnNext{ 
        width: 100%;
    }
    .content-white{
        margin:0 40px;
        padding-top: 80px;
    }
    .content-otp{
        margin:0 40px;
    }
    .header-title{ padding: 0 0;}
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
    .nav>li>button{ 
        width: 100%;
    }
    .nav>li>button:focus, .nav>li>button:hover{
        width: 100%;
    }
    li.active>button{
        width: 100%;
    }
    .inputTel{
        width: 100%;
    }
    .btnNext{ 
        width: 100%;
    }
    .content-white{
        margin:0 40px;
        padding-top: 80px;
    }
    .content-otp{
        margin:0 40px;
    }
    .header-title{ padding: 0 0;} .font-header-label{font-size: 20px !important;}label{ font-size: 20px !important;}
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .nav>li>button{ 
        width: 100%;
    }
    .nav>li>button:focus, .nav>li>button:hover{
        width: 100%;
    }
    li.active>button{
        width: 100%;
    }
    .inputTel{
        width: 100%;
    }
    .btnNext{ 
        width: 100%;
    }
    .content-white{
        margin:0 40px;
        padding-top: 80px;
    }
    .content-otp{
        margin:0 40px;
    }
    .header-title{ padding: 0 0;}
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .nav>li>button{ 
        width: 100%;
    }
    .nav>li>button:focus, .nav>li>button:hover{
        width: 100%;
    }
    li.active>button{
        width: 100%;
    }
    .inputTel{
        width: 100%;
    }
    .btnNext{ 
        width: 100%;
    }
    .content-white{
        margin:0 40px;
        padding-top: 80px;
    }
    .content-otp{
        margin:0 40px;
    }
    .header-title{ padding: 0 0;}
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */

}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */

}

.bottom-hr{ border-bottom: 1px #a2a2a2 solid; }
.text-black {color: #000000;}
.text-gray {color: #a2a2a2;}
.text-green {color: #179e42;}
.header-label{
    margin-top: 10px;
    font-size: 20px;
    color: #2aa84d;
}
.btn_otp{
    bottom:0;
    position: fixed;
    margin-left: 10px;
    margin-right: 10px;
}
.iconClose{ float: right; right: 25px; top: 0; margin-top: 25px; position: absolute; }
.sizeCloseBtn{ font-size: 20px; }
button{ border: none; background-color: transparent;}
.otp-btn{
    margin: 0 15%;
}
.label-validate{ color: red; font-size: 28px;}
.inputWidth{ width: 100%; border: 1px solid #ddd; height: 40px; }
.label-mt{ margin-top: 10px; }
.btn-check{
    background-color: #158846;
    margin: 35px 0;
    font-size: 18px;
    border: 1px solid #158846;
}
.font-header-label{
    font-size: 25px;
}
.div-birthdate{
    font-family: none;
    color: #6e777f;
}
.clear-border{
    border: 0 !important;
}
.nav.nav-box{
    display: block !important;
}

.errorFocus {
    border: 1px solid #e2262c !important;
    box-shadow: none !important;
}
.errorMsg{
    margin-left: 0 !important;
    font-size: 20px;
    margin-top: 10px;
}
.form-control:disabled, .form-control[readonly]{
    background-color: #ebebeb;
    opacity: 1;
    color:#03ac4f !important;
}
.disabled{
    background-color: #ebebeb;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.web-register-card-body{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
}
.btn-web-register{
    padding: 10px 0 5px 0;
    background-color: #054d21;
    color: white;
    border:none;
    font-size: 25px;
    font-family: 'HelvethaicaMed';
    border-radius: 20px;
}
.nav.nav-web-register{
    display: block !important;
}

.nav-web-register a.web-register-tab {
    font-size: 28px;
    padding: 20px 50px 10px 50px;
    margin-right: 40px;
    background-color: #eeee;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}
.nav-web-register a.active{
    color: #ffffff;
    padding: 20px 50px 10px 50px;
    background-color: #53a149;
    width: 100%;
    text-align: center;
}
.nav-web-register a:hover{
    color: #ffffff;
    padding: 20px 50px 10px 50px;
    background-color: #53a149;
}

.input_editregister{
  border: 1px solid #ced4da!important;
}
.input_editregister{
  border-radius: 25px!important;
  padding: 12px 25px 12px 20px!important;
  height: auto!important;
}

.input_editregister:focus{
  border: 1px solid #53a149!important;
  box-shadow: none!important;
}
.input_editregister.errorFocus{
  border: 1px solid red!important;
  background: url(https://ptmaxcard.com/images/error.png) no-repeat right;
  background-position-x: 99%;
  -webkit-appearance: none;
  background-size: 40px;
}
.input_editregister.errorFocus::placeholder{
  color:  red!important;
}
.customSweetAlert .sweet-alert {
    height: 200px;
}