.header-privilege{ color: #53a149; font-size: 50px; margin: 0 30px;padding: 30px;}
.set-title-pr{ font-size: 30px; color: #53a149;}
.img-pri{ width: 70%;}
.set-mt-content{ margin: 50px 50px;}
.nav{ display: contents !important;}
.set-content-header{
    margin-left: 3%;
    display: inline-flex;
}
a{
    color: #53a149;
}
.set-detail-col{
    line-height: 25px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #495057;
    border-bottom: 3px solid #53a149;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
.btn-primary{
    color: #fff;
    background-color: #53a149;
    border-radius: 15px;
    font-size: 20px;
    width: 50%;
    margin: 20px;
    border-color: transparent;
    font-family: 'HelvethaicaMed';
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    color: #495057;
    border-bottom: 3px solid #53a149;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* .nav-tabs .nav-link{

}  */
.nav-link:focus, .nav-link:hover{
    border: none;
}
.nav-item{
    margin: 0 20px;
}
.card-body:hover{
    background-color: #a6c64b;
    border-radius: 10px;
    height: 80px;
    line-height: 16px;
}
.bg-web-pri{
    background-image: url(/images/bg_web-01.jpg);
    background-position: bottom;
    background-size: cover;
}
.card-pri{
    background-color: white;
    border-radius: 10px;
}
.setdetailpri{
    font-family: 'HelvethaicaX';
    font-size: 21px;
}
.btn-pri:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.mobile-pt{
    display: none;
}
.nav-pills .nav-link{
    background-color: #ccc;
}
/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
    .pc-pt{
        display: none;
    }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
    .pc-pt{
        display: none;
    }

}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .pc-pt{
        display: none;
    }
    .set-mt-content{
        margin: 25px 25px;
    }
    .img-pri{
        width: 100%;
    }
    .set-detail-col{
        line-height: 20px;
        text-align: left;
    }
    .header-privilege{
        font-size: 30px;
        margin: 0 0;
    }
    .set-title-pr{
        font-size: 18px;
    }
    .set-content-header{
        overflow-x: overlay;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        background-color: #ccc;
    }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .pc-pt{
        display: none;
    }
    .mobile-pt{
        display: block;
    }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */

}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */

}
.nav-mt{
    margin: 0 20px !important;
}
.dot{
    height: 35px;
    width: 38px;
    background-color: #53a149;
    border-radius: 50%;
    display: inline-block;
}
.icon-dot{
    font-size: 16px;
}
.btn-primary:hover{
    background-color: #53a149;
    border: 1px solid #53a149;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #53a149;
    border: 1px solid #53a149;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none;
}
.card.card-body.card-condition{
    background-color:#a6c64b !important;
    border-radius: 0;
    border: none;
    height: 0% !important;
    color: white;
    font-size: 20px;
    padding: 30px 0;
    padding-left: 12%;
}
.header-name-reward{
    font-size: 40px;
    color: #53a149;
}
.subheader-reward{
    line-height: 10px;
    font-size: 30px;
}
.subpoint-reward{
    font-size: 50px;
    margin-top: 5%;
    color: #53a149;
}
.insertedeem{
    font-family: 'HelvethaicaMed';
    font-size: 30px;
    color: white;
    padding-top: 10px;
}
.bd-insertrd{
    background-color:#53a149;
    border-radius: 20px;
    width: 30%;
    margin-top: 5%;
    text-align: center;
}
.condition-redeem{
    color: #53a149;
    font-size: 27px;
}
.headdetail-reward{
    font-size: 30px;
    color: green;
    margin-top: 30px;
    margin-left: 12%;
}
.subdetail-reward{
    font-size: 20px;
    margin-left: 12%;
}
.mt-left-re{
    margin-left: 10%;
    margin-top: 5%;
}
.icon-back{
    color:#53a149;
}
.arrow-previous{
    color: black;
}
.nav-promotion-tab a {
    padding: 15px 20px 10px 20px;
    margin-right: 40px;
    background-color: #eeee;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}
.nav-promotion-tab a.active{
    color: #ffffff;
    padding: 15px 20px 10px 20px;
    background-color: #53a149;
    width: 100%;
    text-align: center;
}
.nav-promotion-tab a:hover{
    color: #ffffff;
    padding: 15px 20px 10px 20px;
    background-color: #53a149;
}

.nav-reward-tab a {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}
.nav-reward-tab a{
    color: #53a149!important;
}
.nav-reward-tab a.active{
    color: #495057!important;
    border-bottom: 3px solid #53a149;
}
.nav-reward-tab a:hover{
    color: #495057!important;
    border-bottom: 3px solid #53a149;
}
.reward-card{
    border-color: transparent!important;
    /* height: 100%; */
    position: relative;
}
.reward-cardbody{
    background-color: transparent!important;
    height: auto!important;
    line-height: auto!important;
    padding: 0.75rem!important;
}
.reward-cardbody:hover{
    background-color: #ffffff!important;
    height: auto!important;
    line-height: auto!important;
    border-radius: 5px!important;
    box-shadow: 0 0.0625rem 20px 0 rgba(0,0,0,.05)
}
.card-reward-title{
    text-align: left;
    color: #495057;
    margin-top: 20px;
    line-height: 30px;
}
.card-reward-more{
    padding: 20px 50px 12px 50px;
    color: white;
    background-color: #53a149;
    border-radius: 20px;
}
.btn-loadmore{
    padding: 10px 50px 5px 50px;
    color: white;
    background-color: #53a149;
    border-radius: 45px;
}

.btn-redeem {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.privitabCateMobile .navbar{
    padding: 0px!important;
}
.privitabCateMobile .navbar-collapse{
    padding: 5px 15px!important;
}

.privitabCateMobile .nav-reward-tab-mobile a {
    font-size: 22px;
}
.privitabCateMobile .nav-reward-tab-mobile a.active{
    border-bottom: 2px solid #53a149;
    margin-bottom: 10px;
}
.privitabCateMobile .nav-reward-tab-mobile a:hover{
    border-bottom: 2px solid #53a149;
    margin-bottom: 10px;
}
.privitabCateDesktop{ display: block; }
.privitabCateMobile{ display: none; }
.text-line-mobile-promotion {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
@media screen and (orientation: landscape) and (max-width: 568) { 
    .privitabCateDesktop{ display: none; }
    .privitabCateMobile{ display: block; }
    .nav-promotion-tab {
        overflow: scroll;
        flex-wrap: inherit;
        justify-content: left !important;
    }
    .nav-promotion-tab a, .nav-promotion-tab a.active { width: max-content; margin-right: 0px;}
    .text-line-mobile-promotion {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .btn-redeem {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: right;
        position: absolute;
        bottom: 0;
        left: 90%;
    }
    .card-reward-more{
        padding: 15px 25px 10px 25px;
    }
    .btn-loadmore {
        padding: 9px 30px 4px 30px;
    }
    
}
@media screen and (orientation: landscape) and (max-width: 960px) { 
    .privitabCateDesktop{ display: none; }
    .privitabCateMobile{ display: block; }
    .nav-promotion-tab {
        overflow: scroll;
        flex-wrap: inherit;
        justify-content: left !important;
    }
    .nav-promotion-tab a, .nav-promotion-tab a.active { width: max-content; margin-right: 0px;}
    .text-line-mobile-promotion {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .btn-redeem {
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .card-reward-more{
        padding: 15px 25px 10px 25px;
    }
    .btn-loadmore {
        padding: 9px 30px 4px 30px;
    }
    
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For Galaxy S5 */
    .privitabCateDesktop{ display: none; }
    .privitabCateMobile{ display: block; }
    .nav-promotion-tab {
        overflow: scroll;
        flex-wrap: inherit;
        justify-content: left !important;
    }
    .nav-promotion-tab a, .nav-promotion-tab a.active { width: max-content; margin-right: 0px;}
    .text-line-mobile-promotion {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .btn-redeem {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        text-align: right;
        position: initial;
    }
    .card-reward-more {
        padding: 15px 25px 10px 25px;
    }
    .btn-loadmore {
        padding: 9px 30px 4px 30px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 410px){ /* For iPhone 6,7,8 */
    .privitabCateDesktop{ display: none; }
    .privitabCateMobile{ display: block; }
    .nav-promotion-tab {
        overflow: scroll;
        flex-wrap: inherit;
        justify-content: left !important;
    }
    .nav-promotion-tab a, .nav-promotion-tab a.active { width: max-content; margin-right: 0px;}
    .text-line-mobile-promotion {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .btn-redeem {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: right;
        position: initial;
    }
    .card-reward-more {
        padding: 15px 25px 10px 25px;
    }
    .btn-loadmore {
        padding: 9px 30px 4px 30px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 411px) and (max-width: 413px){ /* For  Pixel 2 XL */
    .privitabCateDesktop{ display: none; }
    .privitabCateMobile{ display: block; }
    .nav-promotion-tab {
        overflow: scroll;
        flex-wrap: inherit;
        justify-content: left !important;
    }
    .nav-promotion-tab a, .nav-promotion-tab a.active { width: max-content; margin-right: 0px;}
    .text-line-mobile-promotion {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .btn-redeem {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: right;
    position: initial;
    }
    .card-reward-more {
        padding: 15px 25px 10px 25px;
    }
    .btn-loadmore {
        padding: 9px 30px 4px 30px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .privitabCateDesktop{ display: none; }
    .privitabCateMobile{ display: block; }
    .nav-promotion-tab {
        overflow: scroll;
        flex-wrap: inherit;
        justify-content: left !important;
    }
    .nav-promotion-tab a, .nav-promotion-tab a.active { width: max-content; margin-right: 0px;}
    .text-line-mobile-promotion {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .btn-redeem {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: right;
    position: initial;
    }
    .card-reward-more {
        padding: 15px 25px 10px 25px;
    }
    .btn-loadmore {
        padding: 9px 30px 4px 30px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
    .privitabCateDesktop{ display: block; }
    .privitabCateMobile{ display: none; }
    .nav-reward-tab a {
        margin-bottom: 20px;
    }
    .nav-promotion-tab {
        overflow: scroll;
        flex-wrap: inherit;
        justify-content: left !important;
    }
    .nav-promotion-tab a, .nav-promotion-tab a.active { width: max-content; margin-right: 0px;}
    .text-line-mobile-promotion {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .btn-redeem {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: right;
        position: initial;
    }
    .card-reward-more {
        padding: 15px 25px 10px 25px;
    }
    .btn-loadmore {
        padding: 9px 30px 4px 30px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */
    .privitabCateDesktop{ display: block; }
    .privitabCateMobile{ display: none; }
    .nav-reward-tab a {
        margin-bottom: 20px;
    }
}





/* DETAIL */
.rewarddetail-title{
    color: #495057;
    font-size: 40px;
}
.rewarddetail-titletextt{
    font-size: 40px;
}

.rewarddetail-titlecointent{
    font-size: 46px;
    color: #53a149;
    line-height: 50px;
}
.rewarddetail-subtitlecointent{
    font-size: 32px;
    color: #495057;
    line-height: 40px;
}
.rewarddetail-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 3rem!important;
}
.rewarddetail-point{
    font-size: 80px;
    color: #53a149;
    line-height: 80px;
}
.rewarddetail-btnredeem{
    padding: 10px 50px 1px 50px;
    color: white;
    font-size: 24px;
    background-color: #53a149;
    border-radius: 20px;
    margin: 0px!important;
}
.rewarddetail-descriptitle{
    font-size: 32px;
    color: #53a149;
}
.rewarddetail-descripdetail{
    font-size: 20px;
    color: #495057;
}
.rewarddetail-condition{
    font-size: 32px;
    color: #53a149;
}






@media (max-width: 1200px){
    .container-rewarddetail {
        max-width: 1140px;
    }
}
@media (max-width: 992px){
    .container-rewarddetail {
        max-width: 960px;
    }
}
@media (max-width: 768px){
    .container-rewarddetail {
        max-width: 720px;
    }
}
@media (max-width: 576px){
    .container-rewarddetail {
        max-width: 540px;
    }
}

.container-rewarddetail {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
}

@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 1023px){ 
    .container-rewarddetail {
        padding-right: 0px;
        padding-left: 0px;
    }
    .rewarddetail-content{
        padding: 20px!important;
        padding-left: 0px!important;
    }
    .rewarddetail-titlecointent{
        font-size: 36px;
        line-height: 40px;
    }
    .rewarddetail-point {
        margin-top: 20px;
        text-align: right;
        font-size: 50px;
        line-height: 40px;
    }
  
}


.reward-redeem-card-body{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding: 50px 50px; */
}
.img-reward-redeem{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-reward-redeem-tab a.redeem-tab-left {
    font-size: 28px;
    padding: 20px 50px 10px 50px;
    margin-right: 40px;
    background-color: #eeee;
    border-bottom-left-radius: 10px;
    width: 100%;
    text-align: center;
}
.nav-reward-redeem-tab a.redeem-tab-right {
    font-size: 28px;
    padding: 20px 50px 10px 50px;
    margin-right: 40px;
    background-color: #eeee;
    border-bottom-right-radius: 10px;
    width: 100%;
    text-align: center;
}
.nav-reward-redeem-tab a.active{
    color: #ffffff;
    padding: 20px 50px 10px 50px;
    background-color: #53a149;
    width: 100%;
    text-align: center;
}
.nav-reward-redeem-tab a:hover{
    color: #ffffff;
    padding: 20px 50px 10px 50px;
    background-color: #53a149;
}
.btn-error-redeem{
    border:0!important;
    background-color: #e12e28;
    color: white;
    box-shadow: none!important;
    font-size: 24px!important;
    padding: 10px 10px 2px 10px;
}
.btn-error-redeem:hover{
    background-color: rgba(119, 119, 119, 0.933)!important;
    box-shadow: none!important;
}

.img-reward-branch{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.reward-branch-input{
    background-color: white!important;
    color: #28a354!important;
    border: none!important;
    text-align-last: center;
    background: url(https://ptmaxcard.com/images/icon_seach@3x.png) no-repeat right;
    background-size: 15px;
    background-position-x: 95%;
    box-shadow: 0 0 8px 0 #eeee;
    font-size: 22px;
    -webkit-appearance: none;
    padding: 15px 10px 7px 10px;
}
.reward-branch-input::placeholder{
    color: #c9c9c9!important; 
}
.reward-branchsearch-select{
    font-family: 'HelvethaicaMed'!important;
    background-color: white!important;
    color: #28a354;
    border: none!important;
    text-align-last: center;
    background: url(https://ptmaxcard.com/images/icon_arrow_down@3x.png) no-repeat right;
    background-size: 20px;
    background-position-x: 95%;
    box-shadow: 0 0 8px 0 #dededeee;
    font-size: 28px!important;
    -webkit-appearance: none;
    padding: 10px 0px 0px 0;
    border-radius: 25px;
}
.reward-branchsearch-select:focus{
    box-shadow: 0 0 8px 0 #dededeee!important;
}

.reward-branchsearch-input{
    font-family:'HelvethaicaMed'!important;
    height: auto!important;
    background-color: white!important;
    color: #28a354!important;
    border: none!important;
    text-align-last: center;
    background: url(https://ptmaxcard.com/images/icon_seach@3x.png) no-repeat right;
    background-size: 15px;
    background-position-x: 95%;
    box-shadow: 0 0 8px 0 #dededeee;
    font-size: 28px!important;
    -webkit-appearance: none;
    padding: 10px 0px 0px 0;
    border-radius: 25px;
}
.reward-branchsearch-input:focus{
    box-shadow: 0 0 8px 0 #dededeee!important;
}
.reward-branchsearch-input::placeholder{
    padding: 12px 0px 0px 0;
    color: #c9c9c9!important; 
}

.list-group-item.search-listgitem {
    user-select: none;
    border:none;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: transparent;
    padding: none!important;
    padding: 20px 35px 20px 15px!important;
}

.list-group.search-list input[type="radio"] {
    padding: none!important;
    display: none;
}
.list-group.search-list input[type="radio"]:checked + .list-group-item.search-listgitem {
    background-color: transparent;
    color: #727272;
}
.list-group.search-list input[type="radio"]:checked + .list-group-item.search-listgitem:before {
    color: inherit;
    content: "•";
    color: transparent;
    font-weight: bold;
    margin-right: -1.5rem;
    margin-top: 2rem;
    float: right;
    transform: scale(4.5);
    color: #28a354!important; 
}
.reward-branchsearch-choose{
    background-color: white!important;
    color: #28a354!important;
    border: none!important;
    text-align-last: center;
    box-shadow: 0 0 8px 0 #eeee;
    font-size: 22px;
    -webkit-appearance: none;
    padding: 15px 10px 7px 10px;    
    text-align: center;
}

.rewarddetail-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rewarddetail-dot{
    color: #fff;
    font-size: 20px;
}
.rewarddetail-dot:focus{
    box-shadow: none!important;
}
.reward-redeem-p-5{
    padding: 3rem!important;
}
.reward-redeem-p-5-2{
    padding: 3rem!important;
}
.reward-redeem-p-5-1{
    padding-left: 3rem!important;
    padding-right: 3rem!important;   
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}
.promotion-card {
    height: 100px;
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 1023px){ 
    .nav-reward-redeem-tab a.redeem-tab-left {
        border-bottom-left-radius: 0px;
    }
    .nav-reward-redeem-tab a.redeem-tab-right {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .img-reward-branch{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .reward-redeem-p-5{
        padding: 2rem!important;
    }
    .reward-redeem-p-5-2{
        padding: 2rem 1rem 2rem 1rem!important;
    }
    .reward-redeem-p-5-1{
        padding: 2rem 1rem 2rem 1rem!important;
    }
}
.reward-address{
    background-color: white!important;
    border: none!important;
    box-shadow: 0 0 8px 0 #eeee;
    font-size: 22px;
    -webkit-appearance: none;
    padding: 20px;    
    text-align: left;
}
.reward-pd-top-100{ padding-top: 100%;}

.btn.rewarddetail-btnredeem:disabled{
    background-color: #9e9e9e;
}

.scroll-custom-privilege{
    overflow: scroll;
    flex-wrap: inherit;
    width: 80%;
    margin: auto;
    /* padding-left: 300px; */
}
.scroll-custom-privilege::-webkit-scrollbar {
    width: 0;
    background: transparent;  
}

.privilege-remark-estamp{
    font-size: 20px;
}
.privilege-width-80{
    width: 80%!important;
}
.row.privitabCateDesktop{
    margin-left:auto!important;
    margin-right: auto!important;
}
.privilege-width-a{
    width: max-content;
}
#collapsibleNavbar{
    overflow: scroll;
    flex-wrap: inherit;
    justify-content: left !important;
}