.sidenav {
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border-radius: 5px;
}
.sidenav a:hover {
  color: #f1f1f1;
  border-radius: 5px;
}
.sidenav .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 60px;
}
#main {
  transition: margin-left .5s;
  padding-bottom: 1px;
  margin-left: 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.bg-ptmax{
    background: url(https://ptmaxcard.com/images/bgweb-01.jpg);
    background-position: bottom;
    background-size: cover;
    padding: 40px 60px;
}
.box-content{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px 50px;
    padding: 50px 50px;
}
.upload_preview img {height: 100%; border-radius: 4px;}
.upload_preview{border: 2px dashed #c5c5c5;padding: 6px; border-radius: 4px; width: 100%; height: 10rem}
.uploadfile{width: 80%; position: absolute; z-index: 999; height: 10rem;}
.review_image_before {padding: 5px;}
.row_image{margin: 0px -0.3rem;}
  
.errorImageSize {
  font-family: 'DB_Adman_X_Bd';
  color: red;
  font-size: 20px;
}
.preview-image {
    width: initial !important;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.control-img{
  height: 100%;
  text-align: center;
}
.close-btn {
  position: absolute;
  margin-top: -25px;
  right: 0;
  font-size: 30px;
}
.rotate-btn {
  position: absolute;
  margin-top: -25px;
  text-align: center;
  font-size: 30px;
}
.block-navbar{
  text-align: left;
  margin: 10px 10px;
}
.sidenav a:hover{
  background: rgba(76, 175, 80, 0.3);
  color: #53a149;
  margin: auto;
  border-radius: 5px;
}
a.signout-font{
  color: red;
}
.btn-sentdata{
  margin: 50px 0;
  font-size: 30px;
  text-align: center;
  background-color: green;
}
.text-btn{ color: white;}
.headet-ptmaxcard{
  color: white;
}
.span-heading{
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-family: 'HelvethaicaX';
}
.font-user-profile{
  margin-left: 30px;
  color: green;
  font-family: 'HelvethaicBd';
  font-size: 30px;
}
.icon-width{ width: 20%;}
@media screen and (min-width: 1025px) and (max-width: 1281px) {
  .sidenav{ height: 110%;}
}
.img-card{ width:100%; border-radius: 25px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.mt-card{ margin: 50px 50px;}
.name-card{ font-size: 50px;color: white;}
.ptno-card{ color: white; font-family: 'HelvethaicaLi'; font-size: 38px; letter-spacing: 5px;}
.point-card{ color: white; font-size: 60px; line-height: 50px;}
.mr-border{ border-right: 1px solid white; height:50px; border-top: 0;}
.cl-7-point{margin-top: 1rem; margin-bottom: 1rem;}
.set-point{ 
  color: white;
  font-family: 'HelvethaicaLi';
  font-size: 30px;
  line-height: 0px;
}
  .insert-reward{
    color: white;
    border-radius: 20px;
    background-color: red;
    font-size: 25px;
    padding: 10px 20px 0px 20px;
    margin-top:10px;
    font-family: 'HelvethaicaLi';
  }
  .coloritem a{ color: white;}
  .nav { display: flex !important; }
  .nav-tabs { border: none;}
  .bg-nav-tab{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: gainsboro;
    font-size: 30px;
    padding: 15px 50px;
  }
  .box-history{
    padding: 25px 0;
    background-color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:gainsboro;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    font-size: 30px;
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#a0c516;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #a0c516 ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #a0c516;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }
  .select-date{
    text-align: center;
    padding: 30px;
  }
  .dropdown-history{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 25%;
    border: 1px solid black;
    font-size: 15px;
    height: 50px;
    border-radius: 20px;
    margin: 0 12%;
  }
  nav > div a.nav-item.nav-link, nav > div a.nav-item.nav-link{
    font-size: 30px;
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:gainsboro;
      border-radius:0;
  }
  a.search-text{
    padding-top: 10px!important;
    height: 50px;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    margin: 50px 30px;
    background-color: #10a94e;
    border-radius: 20px;
    color: white;
    padding: 0 70px;
  }
  .search-text{
    padding-top: 10px!important;
    height: 50px;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    margin: 50px 30px;
    background-color: #10a94e;
    border-radius: 20px;
    color: white;
    padding: 0 70px;
  }
  .name-history{
    margin-left: 10px;
  }
  .detail-history{
    font-family: 'HelvethaicaLi';
    font-size: 23px;
    margin-left: 10%;
  }
  .name-history-branch{
    font-size: 35px;
    font-family: 'HelvethaicaLi';
    color: #1d8b43;
  }
  .detail-history-branch{
    font-family: 'HelvethaicaLi';
    font-size: 23px;
  }
  .bt-border{
    border-bottom: 2px dashed gainsboro;
    margin: 2% 5%;
    padding-bottom: 5px;
    line-height: 35px;
  }
  .point-screen{
    color: #1d8b43;
    text-align: right;
  }
  .point-burn{
    font-size: 35px;
    font-family: 'HelvethaicaLi';
    color: red;
    text-align: right;
  }
  .nav-item{
    margin: 0;
  }
  .next-arrow{
    margin-top: 100px;
    margin-right: 50px;
    text-align: right!important;
    color: slategrey;
  }
  .inextarrow{ font-size: 35px;}
  .header-profile{
    font-size: 35px;
    font-family: 'HelvethaicBd';
    color: #1d8b43;
    margin: 20px 0;
  }
  label{
    color: #777;
    font-size: 23px;
    font-family: 'HelvethaicaMed';
  }
.btn-next{
  border-radius: 20px;
  background-color: #1d8b43;
  font-size: 23px;
}
.form-control {
  font-size: 20px;
  color: #03ac4f;
}
input[type="text"] {
  margin-top: 0.2rem;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  width: 100%;
  color: #03ac4f;
}
.required{ color: red   ;}
.form-group { margin-bottom: 0.5rem; margin-top: 1rem;}
.form-control  { font-size: 16px;color: #03ac4f;}
.form-control:focus { color: #707070;}
.input_form::-webkit-input-placeholder { color:#cccccc; }  /* WebKit, Blink, Edge */
.input_form:-moz-placeholder { color:#cccccc; }  /* Mozilla Firefox 4 to 18 */
.input_form::-moz-placeholder { color:#cccccc; }  /* Mozilla Firefox 19+ */
.input_form:-ms-input-placeholder { color:#cccccc; }  /* Internet Explorer 10-11 */
.input_form::-ms-input-placeholder { color:#cccccc; }  /* Microsoft Edge */


 /* The selectoneonly */
 .selectoneonly {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1px 10px 0px 30px;
  margin: 5px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 27px;
  width: 100%;
  color: #707070;
  font-family: 'HelvethaicaMed';
  font-size: 20px;
}

/* Hide the browser's default radio button */
.selectoneonly input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark_selectoneonly {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 22px;
  width: 22px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #c5c5c5;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_selectoneonly:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.selectoneonly input:checked ~ .checkmark_selectoneonly:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.selectoneonly .checkmark_selectoneonly:after {
  left: 0px;
  top: 0px;
  height: 22px;
  border: solid #03ac4f;
  border-width: 11px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(0deg);
  border-radius: 2px;
}

.check_conditions_select {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1px 10px 0px 30px;
  margin: 5px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 27px;
  width: 100%;
  color: #7c7c7c;
  font-family: 'HelvethaicaMed';
  font-size: 20px;
}
.check_conditions_select input:checked ~ .checkmark_condition_select:after {
  display: block;
}
.check_conditions_select .checkmark_condition_select:after {
  left: 0px;
  top: 0px;
  width: 22px;
  height: 22px;
  border: solid #03ac4f;
  border-width: 11px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(0deg);
  border-radius: 2px;
}
.checkmark_condition_select {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 22px;
  width: 22px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #c5c5c5;
}
.checkmark_condition_select:after {
  content: "";
  position: absolute;
  display: none;
}

.check_conditions_select input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.btn-secondary{
  color: white!important;
  background-color: #03ac4f;
  border-color: #03ac4f;
  font-family: 'HelvethaicaMed';
  font-size: 25px;
  /* margin: 40px 0; */
  border-radius: 20px;
}

.btn-gray{
  background-color: #6c757d;
  border-color: #6c757d;
  color: #ffffff;
  font-family: 'HelvethaicaMed';
  font-size: 25px;
  /* margin: 40px 0; */
  border-radius: 20px;
}

label.recommend{
  font-size: 18px;
}
label.addtional{
  margin: 10px 0;
}

.check_conditions_form {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0px 10px 0px 30px;
  margin: 0px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 36px;
  width: 100%;

}
input[type=checkbox], input[type=radio] {
  display: none;
}
.checkmark_condition {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 22px;
  width: 22px;
  /* border: 2px solid #03ac4f; */
  border-radius: 2px;
  background-color: white;
  border: 1px solid #c5c5c5;
}
.checkmark_condition:after {
  content: "";
  position: absolute;
  display: none;
}
.check_conditions_form input:checked ~ .checkmark_condition:after {
  display: block;
}
.check_conditions_form .checkmark_condition:after {
  left: 8px;
  top: 1px;
  width: 7px;
  height: 17px;
  border: solid #03ac4f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sent-data-success{
  color: #03ac4f;
  font-size: 60px;
}
.check_conditions {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 4px 10px 0px 30px;
  margin: 10px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 22px;
  width: 100%;
  color: #707070;
  font-family: 'HelvethaicBd';
  font-size: 23px;
}

.head_check_conditions {
  margin: 10px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 22px;
  width: 100%;
  color: #707070;
  font-family: 'HelvethaicBd';
  font-size: 23px;
}
.check_conditions input:checked ~ .checkmark_condition:after {
  display: block;
}
.check_conditions .checkmark_condition:after {
  left: 8px;
  top: 1px;
  width: 7px;
  height: 17px;
  border: solid #03ac4f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


button.button, input[type="button"], input[type="submit"], a.button.border, a.button {
  font-family: 'HelvethaicaMed';
  font-size: 25px;
  border-radius: 20px;
  font-weight: 100;
}

ul {
  list-style-type: none;
}
/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {

}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
  .upload_preview{
    height: 4rem;
  }
  .upload_preview img{
    height: 3rem;
  }
  .bg-ptmax{
    padding: 40px 10px !important
  }
  .box-content{
    margin: 10px;
    padding: 20px;
  }
  .dropdown-history{
    width: auto;
    margin: 0 10px ;
  }
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
  .mr-border{ border-top: 1px solid white; height:0; border-right: 0;}
  .bd-card-control{ margin: 30px 0; }
  .insert-reward{ font-size: 20px;}
  .font-user-profile{margin: 0 20%;}
  .check_conditions_form{ font-size: 20px; }
  .preview-image{ position : relative;}
  .upload_preview img{ height: 4rem;}
  .upload_preview{ height: 5rem;}
  .check_conditions{ font-size: 20px;}
  .bg-ptmax{padding: 40px 10px;}

  .box-content{
    margin: 0px;
    padding: 20px 20px;
  }
  .bg-ptmax{
    padding: 40px 20px !important
  }
  .box-content{
    margin: 10px;
    padding: 20px;
  }
  .dropdown-history{
    width: auto;
    margin: 0 10px ;
  }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
  .bg-ptmax{padding: 45px 10px;}
  .box-content{
    margin: 10px;
    padding: 20px;
  }
  .dropdown-history{
    width: auto;
    margin: 0 10px ;
  }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
  .name-card {
    font-size: 40px;
  }
  .box-content{
    margin: 10px;
    padding: 20px;
  }
  .dropdown-history{
    width: auto;
    margin: 0 10px ;
  }
}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */

}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255, 10);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  background: rgba(76, 175, 80, 0.3);
  color: #53a149;
  margin: auto;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: black;
 
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px; }
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
a:not([href]):not([tabindex]){
  color: white;
}
.send-font{
  color: white;
  font-family: 'HelvethaicaMed';
}
.disabled {
  opacity: 0.7;
  pointer-events: none;
  background-color: #ebebeb !important;
}
.react-date-picker{
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
}
.react-date-picker__wrapper{
  border: none !important;
}
.react-date-picker__inputGroup{
  color: black;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
a.tab-green:hover {
  border-left: 3px green solid;
}






/* EDIT */
.EarnBurnSearchdisplaynone {
    display: none!important;
}
.estamp-history{
    font-family: 'HelvethaicaLi';
    text-align: right;
}
.card-borderpoint{
    border-left: 1px solid #fff;
}
.detail-point{ color: white; font-family: 'HelvethaicaLi';}
@media screen and (max-width: 600px) {
    .name-card{ text-align: center; }
    .ptno-card{ text-align: center; }
    .detail-point{ text-align: center; }
    .point-flexcard{ justify-content: center!important; }
    .insert-reward { text-align: center; }
}




/* EDIT PROFILE */
.bg-ptmaxcard-content{
  background-image: url(/images/bgweb-01.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: cover;
  background-size: 100%;
  background-color: #30a84d;
  /* padding: 0px 60px!important; */
}
.bgcolor-ptmaxcard-content{
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: cover;
  background-size: 100%;
  background-color: #30a84d;
  /* padding: 0px 60px!important; */
}
.card-menuptmaxcard{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  height: 100%;
}
.cardbody-menuptmaxcard{
    background-color: white!important;
    flex: 1 1 auto;
    min-height: 1px;
    margin-bottom: 4rem;
    border-radius: 15px;
    height: auto;
}
.editprofile-content{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px 50px;
}
.pt-sidebar-title{
  color: #53A14E;
  font-size: 40px;
  margin-top: 20px;
}
.editprofile-title{
  color: white;
  margin-top: 20px;
  font-size: 50px;
}
.editprofile-required{ 
  color: red;
  font-size: 26px;
}
.btn-editprofilesumit{
  padding: 10px 50px 1px 50px;
  color: white;
  font-size: 24px;
  background-color: #53a149;
  border-radius: 20px;
}
.btn-pt-problemsumit{
  padding: 10px 70px 1px 70px;
  color: white;
  font-size: 24px;
  background-color: #53a149;
  border-radius: 20px;
}
.input_editprofile{
  border: 1px solid #ced4da!important;
}
.form-group .input_editprofile{
  border-radius: 25px!important;
  padding: 12px 25px 12px 20px!important;
  height: auto!important;
}

.input_editprofile:focus{
  border: 1px solid #53a149!important;
  box-shadow: none!important;
}
.input_editprofile.errorFocus{
  border: 1px solid red!important;
  background: url(https://ptmaxcard.com/images/error.png) no-repeat right;
  background-position-x: 99%;
  -webkit-appearance: none;
  background-size: 40px;
}
.input_editprofile.errorFocus::placeholder{
  color:  red!important;
}

.disable_editprofile{
  pointer-events: none!important;
  background-color: #f7f7f7!important;
}

.ptmaxcard-content{
  padding: 40px 60px!important;
}

.pt-sidebar-top{
  padding: 1.25rem;
}
.pt-sidebar-menu{
  padding: 0;
}
.pt-sidebar-a.active{
  background-color: #e0f0e3;
  border-left: 5px solid #a0c516;
  padding-left: 10px;
}
.pt-sidebar-a{
  padding: 15px;
}
.pt-sidebar-a{
  color: #7c7c7c;
  font-size: 24px;
  /* padding-left: 120px; */
}
.pt-sidebar-text{
  color: #7c7c7c;
  font-size: 24px;
}

.pt-sidebar-a:hover{
  background-color: #e0f0e3;
  border-left: 5px solid #a0c516;
  padding-left: 10px;
  transition: all 0.3s;
  color: #7c7c7c!important;
}
.pt-sidebar-a a.pt-sidebar-signout{
  color:red;
}
.pt-sidebar-border{
  border-left: 5px solid #a0c516;
}
.btn-otpeditprofile{
  color: white;
  background-color: #03ac4f;
  border-color: #03ac4f;
  font-family: 'HelvethaicaMed';
  font-size: 26px;
  /* margin: 40px 0; */
  border-radius: 20px;
  padding: 10px 10px 1px 10px;
}


/* Responsive */
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 359px){ /* For iPhone 5 */
  .editprofile-content{ padding: 10px!important; }
  .ptmaxcard-content{padding: 40px 10px!important;}
  .cardbody-menuptmaxcard{height: auto!important;}
  .ptmaxcard-regis-content{
    padding: 0!important;
  }
  .ptmaxcard-regis-content{
    padding: 0!important;
  }
  .ptmaxcard-regis-card-body{ padding: 0!important;}
  .ptmaxcard-regis-title{ font-size: 35px!important;}
}
@media only screen and (orientation: portrait) and (min-width: 360px) and (max-width: 374px){ /* For Galaxy S5 */
  .editprofile-content{ padding: 10px!important; }
  .ptmaxcard-content{padding: 40px 10px!important;}
  .cardbody-menuptmaxcard{height: auto!important;}
  .ptmaxcard-regis-content{
    padding: 0!important;
  }
  .ptmaxcard-regis-card-body{ padding: 0!important;}
  .ptmaxcard-regis-title{ font-size: 35px!important;}
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 410px){ /* For iPhone 6,7,8 */
  .editprofile-content{ padding: 10px!important; }
  .ptmaxcard-content{padding: 40px 10px!important;}
  .cardbody-menuptmaxcard{height: auto!important;}
  .ptmaxcard-regis-content{
    padding: 0!important;
  }
  .ptmaxcard-regis-card-body{ padding: 0!important;}
  .ptmaxcard-regis-title{ font-size: 35px!important;}
}
@media only screen and (orientation: portrait) and (min-width: 411px) and (max-width: 413px){ /* For  Pixel 2 XL */
  .editprofile-content{ padding: 10px!important; }
  .ptmaxcard-content{padding: 40px 10px!important;}
  .cardbody-menuptmaxcard{height: auto!important;}
  .ptmaxcard-regis-content{padding: 0!important;}
  .ptmaxcard-regis-card-body{ padding: 0!important;}
  .ptmaxcard-regis-title{ font-size: 35px!important;}
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
  .editprofile-content{ padding: 10px!important; }
  .ptmaxcard-content{padding: 40px 10px!important;}
  .cardbody-menuptmaxcard{height: auto!important;}
  .ptmaxcard-regis-content{padding: 0!important;}
  .ptmaxcard-regis-card-body{ padding: 0!important;}
  .ptmaxcard-regis-title{ font-size: 35px!important;}
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
  .editprofile-content{ padding: 10px!important; }
  .ptmaxcard-content{padding: 40px 10px!important;}
  .cardbody-menuptmaxcard{height: auto!important;}
}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */
  .editprofile-content{ padding: 10px!important; }
  .ptmaxcard-content{padding: 40px 10px!important;}
  .cardbody-menuptmaxcard{height: auto!important;}
}

@media only screen and (orientation: landscape) and (max-width: 960px){ /* For iPhone 5 */
  .editprofile-content{ padding: 10px!important; }
  .ptmaxcard-content{
    padding: 40px 10px!important;
  }
  .ptmaxcard-regis-card-body {
    padding: 0px !important;
  }
}














/* REGISTER */
.ptmaxcard-regis-content{
  padding: 5rem;
}
.ptmaxcard-regis-title{
  font-size: 60px;
  color: white!important;
}
.ptmaxcard-regis-card-header{
  background-color: transparent;
  height: -webkit-min-content;  
}
.ptmaxcard-regis-card-body{
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px 50px;
}


.ptmaxcard-regis-nav-1{
  margin-right: -15px!important;
}
.ptmaxcard-regis-nav-1 a, .ptmaxcard-regis-nav-2 a, .ptmaxcard-regis-nav-3 a{
  border-top-left-radius: 15px!important;
  border-top-right-radius: 15px!important;
  font-size: 30px!important;
  padding: 30px 30px 15px 30px!important;
  background-color: #cccccc!important;
}
.ptmaxcard-regis-nav-1 a.active{
  background-color: #a0c516!important;
}
.ptmaxcard-regis-nav-1 a:hover{
  background-color: #a0c516!important;
  color: white!important;
}
.ptmaxcard-regis-nav-2{
  margin-right: -15px!important;
  box-shadow: -3px -1px 5px -3px #949494;
  border-top-left-radius: 15px!important;
}
/* .ptmaxcard-regis-nav-2 a{
  border-top-left-radius: 15px!important;
  font-size: 40px!important;
  padding: 30px 30px 15px 30px!important;
  background-color: #cccccc!important;
} */
.ptmaxcard-regis-nav-2 a.active{
  background-color: #a0c516!important;
}
.ptmaxcard-regis-nav-2 a:hover{
  background-color: #a0c516!important;
  color: white!important;
}
.ptmaxcard-regis-nav-3{
  margin-right: 0px!important;
  box-shadow: -3px -1px 5px -3px #949494;
  border-top-left-radius: 15px!important;
}
/* .ptmaxcard-regis-nav-3 a{
  border-top-left-radius: 15px!important;
  font-size: 40px!important;
  background-color: #cccccc!important;
  border-top-right-radius: 15px!important;
} */
.ptmaxcard-regis-nav-3 a.active{
  background-color: #a0c516!important;
}
.ptmaxcard-regis-nav-3 a:hover{
  background-color: #a0c516!important;
  color: white!important;
}
.ptmaxcard-regis-btn-step2{
  background-color: #03ac4f!important;
  color: white;
  font-size: 25px;
  border-radius: 20px;
  padding: 10px 40px 5px 40px!important;
}
.ptmaxcard-regis-linkcondition{
  font-size: 24px;
}

.ptmaxcard-regis-input{
  border: 1px solid #ced4da!important;
}
.form-group .ptmaxcard-regis-input{
  border-radius: 25px!important;
  /* padding: 12px 25px 12px 20px!important; */
  height: auto!important;
}

.ptmaxcard-regis-input:focus{
  border: 1px solid #53a149!important;
  box-shadow: none!important;
}
.ptmaxcard-regis-input.errorFocus{
  border: 1px solid red!important;
  background: url(https://ptmaxcard.com/images/error.png) no-repeat right;
  background-position-x: 99%;
  -webkit-appearance: none;
  background-size: 20px;
}
.ptmaxcard-regis-input.errorFocus::placeholder{
  color:  red!important;
}

/* REGISTER MOBILE SIZE */
.ptmaxcard-regis-mobile-card-body{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px;
}
.pt-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.ptmaxcard-regis-mobile-linkcondition{
  font-size: 20px;  
}
.ptmaxcard-regis-mobile-btn-step2{
  background-color: #03ac4f!important;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 40px 5px 40px!important;
}




/* CONDITION */
.ptmaxcard-condi-card-body{
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px 50px;
}
.ptmaxcard-condi-content{
  list-style: none;
  font-size: 22px;
}
.ptmaxcard-condi-content li {
  background: url(https://ptmaxcard.com/images/green_bullet.png) 0 13px no-repeat;
  padding: 6px 0 0 15px;
  margin: 0 0 5px 0;
  display: list-item;
  text-align: -webkit-match-parent;
}
.ptmaxcard-condi-nav-1{
  margin-right: -15px!important;
}
.ptmaxcard-condi-nav-1 a, .ptmaxcard-condi-nav-2 a, .ptmaxcard-condi-nav-3 a, .ptmaxcard-condi-nav-4 a {
  border-top-left-radius: 15px!important;
  border-top-right-radius: 15px!important;
  font-size: 25px!important;
  padding: 30px 15px 13px 5px!important;
  background-color: #cccccc!important;
}
.ptmaxcard-condi-nav-1 a.active{
  background-color: #a0c516!important;
}
.ptmaxcard-condi-nav-1 a:hover{
  background-color: #a0c516!important;
  color: white!important;
}
.ptmaxcard-condi-nav-2{
  margin-right: -15px!important;
  box-shadow: -3px -1px 5px -3px #949494;
  border-top-left-radius: 15px!important;
}
/* .ptmaxcard-condi-nav-2 a{
  border-top-left-radius: 15px!important;
  font-size: 22px!important;
  padding: 30px 15px 13px 5px!important;
  background-color: #cccccc!important;
} */
.ptmaxcard-condi-nav-2 a.active{
  background-color: #a0c516!important;
}
.ptmaxcard-condi-nav-2 a:hover{
  background-color: #a0c516!important;
  color: white!important;
}
.ptmaxcard-condi-nav-3{
  margin-right: -15px!important;
  box-shadow: -3px -1px 5px -3px #949494;
  border-top-left-radius: 15px!important;
}
/* .ptmaxcard-condi-nav-3 a{
  border-top-left-radius: 15px!important;
  font-size: 22px!important;
  padding: 30px 15px 13px 5px!important;
  background-color: #cccccc!important;
  border-top-right-radius: 15px!important;
} */
.ptmaxcard-condi-nav-3 a.active{
  background-color: #a0c516!important;
}
.ptmaxcard-condi-nav-3 a:hover{
  background-color: #a0c516!important;
  color: white!important;
}
.ptmaxcard-condi-nav-4{
  margin-right: 0px!important;
  box-shadow: -3px -1px 5px -3px #949494;
  border-top-left-radius: 15px!important;
}
/* .ptmaxcard-condi-nav-4 a{
  border-top-left-radius: 15px!important;
  font-size: 22px!important;
  padding: 30px 15px 13px 5px!important;
  background-color: #cccccc!important;
  border-top-right-radius: 15px!important;
} */
.ptmaxcard-condi-nav-4 a.active{
  background-color: #a0c516!important;
}
.ptmaxcard-condi-nav-4 a:hover{
  background-color: #a0c516!important;
  color: white!important;
}
.ptmaxcard-condi-nav{
  height: 100%!important;
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 1023px){
  .ptmaxcard-condi-navall{ flex-direction: column!important; }
  .ptmaxcard-condi-nav-1 { margin-right: 0px!important; }
  .ptmaxcard-condi-nav-1 a { border-top-left-radius: 15px!important;border-top-right-radius: 15px!important;border-bottom-left-radius: 0px!important;border-bottom-right-radius: 0px!important;}
  .ptmaxcard-condi-nav-2 { margin-right: 0px!important; }
  .ptmaxcard-condi-nav-2 a { border-radius: 0px!important; }
  .ptmaxcard-condi-nav-3 { margin-right: 0px!important; }
  .ptmaxcard-condi-nav-3 a { border-radius: 0px!important; }
  .ptmaxcard-condi-nav-4 { margin-right: 0px!important; }
  .ptmaxcard-condi-nav-4 a { border-radius: 0px!important; }
  .ptmaxcard-condi-card-body{ padding: 15px!important; }
}



.testsidenav{
  transition: 0.5s!important;
}


.basket {
  transition: opacity 0.5s;
  opacity: 1;
}
.basket.hide {
  opacity: 0;
  pointer-events:none;
}

.card-noselect{
  opacity: 0.5;
  /* filter: brightness(50%)!important; */
}









.ptmaxcard-history-card-body{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px 50px;
}
.card-history-detail{
  font-size: 22px;
  color: #b8b8b8;
}
.card-history-list{
  color: #1d8b43!important;
}
.card-history-list:hover{
  color: #494949!important;
}
.card-history-hr{
  border-bottom: 1px dashed #e0f0e3;
}

#barcode > svg {
  width: 100%;
}

.ptmaxcard-historydetail-card-body{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px 50px;
}
.img-historydetail{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newitem-historydetail{
  background-color: red;
  border-radius: 50%;
  padding: 20px 13px 10px 13px;
  position: absolute;
  z-index: 1;
  top: -20px;
  right: -5px;
  text-align: center;
  color: white;
  font-size: 32px;
}

.historydetail-title{
  color: #03ac4f!important;
  line-height: 25px;
}
.historydetail-titlebarcode{
  text-align: center;
  font-size: 50px;
  color: #03ac4f;
}
.class-count-time{
  color: red;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
}
.historydetail-howto{
  font-size: 22px;
  color: #b8b8b8;
}
.historydetail-inside-title{
  font-size: 22px;
  color: #b8b8b8;
}
.historydetail-inside-box{
  border: 1px solid #03ac4f;
  background-color: white;
  border-radius: 15px;
  padding: 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pdpa-condition-main{ padding: 8px 0!important;}
.ploblem-ft-18{font-size: 18px;}
.btn-register-ptmax{width: 100%; color: white;}
.point-burn-color{ color: red;}


.ptmaxpoint-pointtext{
  color: white;
  font-size: 40px;
}
.ptmaxpoint-pointpoint{
  color: white;
  font-size: 40px;
  text-align: right;
}

/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
  .ptmaxcard-historydetail-card-body{padding: 20;margin-top: 20;}
  .ptmaxcard-regis-nav-1 a, .ptmaxcard-regis-nav-2 a, .ptmaxcard-regis-nav-3 a{
    font-size: 24px!important;
    padding: 30px 15px 15px 15px!important;
  }
  .ptmaxcard-history-card-body{
    padding: 25px;
  }
  
  .ptmaxcard-condi-nav-1 a, .ptmaxcard-condi-nav-2 a, .ptmaxcard-condi-nav-3 a, .ptmaxcard-condi-nav-4 a {
    font-size: 22px !important;
    padding: 30px 18px 13px 8px!important;
  }

  .ptmaxpoint-pointtext{
    color: white;
    font-size: 22px;
  }
  .ptmaxpoint-pointpoint{
    color: white;
    font-size: 22px;
    text-align: right;
  }
  .ptmaxpoint-pointcard {
    max-width: 100%!important;
    flex: auto
  }
  .ptmaxpoint-pointcardtext {
    max-width: 100%!important;
    flex: auto
  }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
  .ptmaxcard-historydetail-card-body{padding: 20;margin-top: 20;}
  .ptmaxcard-history-card-body{
    padding: 16px;
  }
  .ptmaxcard-regis-nav-1 a, .ptmaxcard-regis-nav-2 a, .ptmaxcard-regis-nav-3 a{
    font-size: 22px!important;
    padding: 30px 15px 15px 15px!important;
  }

  .newitem-historydetail{
    padding: 10px 10px 6px 10px;
    top: -13px;
    right: -10px;
    font-size: 20px;
  }
  .ptmaxcard-condi-nav-1 a, .ptmaxcard-condi-nav-2 a, .ptmaxcard-condi-nav-3 a, .ptmaxcard-condi-nav-4 a {
    font-size: 22px !important;
  }
  .ptmaxpoint-pointtext{
    color: white;
    font-size: 26px;
  }
  .ptmaxpoint-pointpoint{
    color: white;
    font-size: 26px;
    text-align: right;
  }
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
  .ptmaxcard-historydetail-card-body{padding: 20;margin-top: 20;}
  .ptmaxcard-history-card-body{
    padding: 16px;
  }
  .ptmaxcard-regis-nav-1 a, .ptmaxcard-regis-nav-2 a, .ptmaxcard-regis-nav-3 a{
    font-size: 24px!important;
    padding: 30px 15px 15px 15px!important;
  }
  .newitem-historydetail{
    padding: 10px 10px 6px 10px;
    top: -13px;
    right: -10px;
    font-size: 20px;
  }
  .ptmaxcard-condi-nav-1 a, .ptmaxcard-condi-nav-2 a, .ptmaxcard-condi-nav-3 a, .ptmaxcard-condi-nav-4 a {
    font-size: 24px !important;
  }
  .ptmaxpoint-pointtext{
    color: white;
    font-size: 30px;
  }
  .ptmaxpoint-pointpoint{
    color: white;
    font-size: 30px;
    text-align: right;
  }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
  .ptmaxcard-historydetail-card-body{padding: 20;margin-top: 20;}
  .ptmaxcard-history-card-body{
    padding: 16px;
  }
  .ptmaxcard-regis-nav-1 a, .ptmaxcard-regis-nav-2 a, .ptmaxcard-regis-nav-3 a{
    font-size: 24px!important;
    padding: 30px 15px 15px 15px!important;
  }
  .newitem-historydetail{
    padding: 10px 10px 6px 10px;
    top: -13px;
    right: -10px;
    font-size: 20px;
  }
  .ptmaxcard-condi-nav-1 a, .ptmaxcard-condi-nav-2 a, .ptmaxcard-condi-nav-3 a, .ptmaxcard-condi-nav-4 a {
    font-size: 24px !important;
  }
  .ptmaxpoint-pointtext{
    color: white;
    font-size: 30px;
  }
  .ptmaxpoint-pointpoint{
    color: white;
    font-size: 30px;
    text-align: right;
  }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
  .ptmaxcard-historydetail-card-body{padding: 20;margin-top: 20;}
  .ptmaxpoint-pointtext{
    color: white;
    font-size: 30px;
  }
  .ptmaxpoint-pointpoint{
    color: white;
    font-size: 30px;
    text-align: right;
  }
}


.dopa-birthdaycheck{
  border: 1px solid #6ac259;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background: #ffffff;
}
.dopa-birthdayimage{
  width: 20px;
  height: 20px;
}
.dopa-birthdaytext{
  color: #777777;
  padding-left: 10px;
  font-size: 22px;
}

.check_agree .check_conditions{
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 4px 10px 0px 0px;
  margin: 10px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 22px;
  width: 100%;
  color: #707070;
  font-family: 'DB_Adman_X_Bd';
  font-size: 20px;
}

  .check_agree .checkmark_condition{
    border-radius: 20px;
  }

  .radio_checkmark_condition {
    position: absolute;
    top: 3px;
    left: 22px;
    height: 22px;
    width: 22px;
    border: 1px solid #03ac4f;
    border-radius: 10px;
    /* background: rgb(218, 218, 218); */
  }

  .radio_checkmark_condition:after {
    content: "";
    position: absolute;
    display: none;
  }

  .radio_checkmark_condition:after {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: 6px solid #03ac4f;
    background-color: #ffffff;
  }

  .check_conditions input:checked ~ .checkmark_condition:after, .check_conditions input:checked ~ .radio_checkmark_condition:after {
    display: block;
  }
  .check_conditions .checkmark_condition:after {
    left: 8px;
    top: 1px;
    width: 7px;
    height: 17px;
    border: solid #03ac4f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }