/* input, input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select{
    padding: 5px 11px;
    margin: 0 0 15px 0;
} */
.form-control {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.dropdown-item{
    font-family: 'HelvethaicaX';
}
.icon-login-true{
    margin-right: 10px;
    width: 40px;
}
.errorFocus { border: 1px solid #e2262c !important; box-shadow: none !important; }
.errorMsg { margin-left: 20px; color: #e2262c;}
.icon-setfontsize{
    font-size: 25px;
}
.col-6-lineh{
    line-height: 23px;
}
.setpositionmodal{
    position: absolute;
    margin:0 !important;
    width: 42vw !important;
    padding: 0px !important;
    /* height: 40em; */
}
.logo-header{ 
    width: 20%; 
    text-align: center; 
    position: absolute; 
    top:15px;
}
.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 60%);
}
.div-navbarout{ 
    position: absolute; 
    z-index: 999; 
    width: 100%;
}
.icon-login{ width: 50px;}
.div-navbarin{ 
    text-align: center; 
    /* transform: translateY(-65px); */
}
.nav-topmenu{
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -4%;
    /* transform: translate(-50%, -50%); */
}

.btn-custom{  
    background-color: transparent; 
    border:none; font-family: 'HelvethaicaMed';  
    color: white; 
    font-size: 25px; 
    box-shadow: none!important;
}
.nav-inline{ display: inline; margin:0 8px;}
.border-rds{
    border-radius: 25px; 
    border: 1px solid white; 
    line-height: 20px; 
    padding-top: 10px; 
    width: 100%;
}
.border-rds.foot{ border-radius: 25px; border: 1px solid #2aa84d; }
.font-recommend{ color: #2aa84d;}
.border-signin{ 
    line-height: 20px; 
    padding-top: 10px;  
}
button:focus {
    outline: none;
}
.nav-inline button{
    color: white;
}
.nav-inline button:hover {
    border-bottom: 3px solid red;
  }
  
  .nav-inline button.active {
    border-bottom: 3px solid red;
  }
.container-content {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: 30px;
}
.fix-icon{ width: 50%; }
.font-body{ 
    font-family: 'HelvethaicaX'; 
    color:#2aa84d; 
    font-size: 25px; 
    text-align: center;
}
.mt-block{ 
    margin-bottom: 10px; 
    padding-right: 0 !important;
}
.mt-box{ 
    margin-top: 50px; 
    position: relative;
}
.vertical-box { 
    position: absolute; 
    top: 50%; 
    left: 77%; 
    transform: translate(-50%, -50%);
}

.content-body-pt{ 
    color:black; 
    font-family: 'HelvethaicaX'; 
    font-size: 25px; 
    line-height: 25px;
}
.btn-detail{ 
    background-color: #c62a2d; 
    color: white;
    border-radius: 20px;
    font-family: 'HelvethaicaMed';
    padding: 0 20px;
    font-size: 20px;
    width: 40%;
}
.btn-detail.register{ 
    background-color: #2aa84d; 
    width: 40%;
}
.btnstation{ background-color: #c62a2d;
    color: white;
    border-radius: 20px;
    font-family: 'HelvethaicaMed';
    padding: 0 20px;
    font-size: 20px;
    width: 200px;
}
.btnstation.detail{ background-color: #2aa84d; width: 200px;}
.bg-content{ background: url('https://ptmaxcard.com/images/bgweb-01.jpg'); background-size: cover;}
.bg-subcontent{ background: url('https://ptmaxcard.com/images/bgapp-01.jpg'); background-size: cover; margin:0;}
.title-subcontent{
    color: #53a149;
    font-size: 60px;
    font-family: 'HelvethaicaX';
    margin: 0 35px;
}
.title-body{ 
    font-size: 60px;
    color: white;
    font-family: 'HelvethaicaMed';
    margin: 0 50px;
}
.title-news{
    color: white;
    font-family: 'HelvethaicaMed';
    font-size: 60px;
    margin: 0 50px;
    padding-top: 50px;
}
.title-green{ font-family: 'HelvethaicaMed'; color: #2aa84d; font-size: 60px; margin: 0 50px;}
.card-img-top{ border-radius: 10px;}
.card{ background-color: transparent !important;}
.card-body{ background-color: #a6c64b; border-radius: 10px; height: 80px; line-height: 16px;}
.card-text{ font-family: 'HelvethaicaMed'; color: white;}
.set-margin{
    border: rgba(255, 255, 255, 0) 5px solid;
}
.text-sub-content{ font-family: 'HelvethaicaMed'; font-size: 30px; color: #2aa84d; line-height: 22px;}
.LazyLoad:not(.is-visible) {
    background: url(https://ptmaxcard.com/images/lazy-loading.gif) 50% 50% no-repeat transparent;
    height: 270px;
}
.in-container .LazyLoad:not(.is-visible) {
    background: url(https://ptmaxcard.com/images/lazy-loading.gif) 50% 50% no-repeat transparent;
    height: 90px;
}
.mb-apppt{
    margin-bottom: 0;
}
.set-absolute{ position: absolute;}
.place-rec{ width: 10%;}
.set-inline{ display: inline; margin: 0 10px;}
.ptg-energy-font{ font-family: 'Ramintra'; font-size: 30px; line-height: 20px;}
.set-content-detail{ vertical-align: middle; }
.mobile-pt{ display: none;}
.seeAllright{ float:right;width:100px; margin-top:15px; margin-right: 80px;}
.seeAllInline{ display: inline; }
.text-station{ position: absolute; z-index: 999; }
.picture-station{ position: relative; width: 100%; }
.btn-station{ 
    z-index: 999;
    position: absolute;
    margin-top: -10%;
    left: 37%;
}
.fix-slider{ padding: 80px; }
.header-sigin{
    color: #2aa84d;
    font-size: 40px;
    text-align: left;
    padding: 0px;
}
.form-login {
    padding-top: 25px;
}
.label-forgot{
    color: #ababab;
    font-family: 'HelvethaicaLi';
    text-align: left;
    font-size: 20px;
}
.label-header{
    color:#2aa84d;
    font-family: 'HelvethaicaLi';
    text-align: left;
}
.label-text-pc{
    font-family: 'HelvethaicaLi';
}
.loginandregis-btn{
    width: 100%;
    margin: 7px 0;
    padding: 10px 0;
    background-color: #5fa755;
    border-radius: 18px;
    color: white;
    font-family: 'HelvethaicaX';
    font-size: 30px;
}
.loginregis-fb-btn{
    width: 100%;
    margin: 7px 0;
    padding: 10px 0;
    background-color: #4875ee;
    border-radius: 18px;
    color: white;
    font-family: 'HelvethaicaX';
    font-size: 30px;
}
.loginregis-gm-btn{
    width: 100%;
    margin: 7px 0;
    padding: 10px 0;
    background-color: #c05044;
    border-radius: 18px;
    color: white;
    font-family: 'HelvethaicaX';
    font-size: 30px;
}

.form-control-set{
    display: block;
    width: 100%;
    padding: 5px 11px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-set:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.btn:hover{ color: white;}

.navmenu-displaynone{
    display: none!important;
}

/* NEW NAV */
.header-mobile-content{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
}
.nav-headermobile{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
}
.bg-nav-headermobile{
    background-color: #75b652;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    padding: 20px;
    top: 55px;
    height: 100vh;
}
  .btn-nav-headermobile{
    background-color: #c6292d;
    color: white;
    border-radius: 30px;
    font-size: 24px;
    padding: 7px 0px 0px 0px;
  }
  .header-mobile{
    /* margin-bottom: 55px; */
    display: none;
  }
  .header-desktop{
    display: block;
  }

.dropdown-user-mobile{
    width: 90%;
    border-radius: 0px;
    text-align: center;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0px!important;
}
.dropdown-useritem-mobile{
    color: #75b652!important;
    border-bottom: 1px solid #a6c64b;
    font-size: 26px!important;
    padding-top: 25px!important;
}
.dropdown-useritemsignout-mobile{
    color: red!important;
    border-bottom: 1px solid #a6c64b;
    font-size: 26px!important;
    padding-top: 25px!important;
}
.dropdown-useritemsignout-mobile:hover{
    background-color:  #e0f0e3;
    font-weight: 900!important;
    color: #65ab5c!important;
}
.dropdown-useritem-mobile:hover{
    background-color:  #e0f0e3;
    font-weight: 900!important;
    color: #65ab5c!important;
}
.dropdown-item-signout{
    color: black!important;
}



.login-input{
    border-radius: 25px!important;
    padding: 12px 25px 5px 20px!important;
    height: auto!important;
}
.login-input:focus{
    border: 1px solid #53a149!important;
    box-shadow: none!important;
  }

.btn-signin-mail{
    background-color: #5fa755!important;
    color: white;
    font-size: 24px;
    border-radius: 20px;
    padding: 16px 40px 11px 40px!important;
}
.btn-signin-fb{
    background-color: #4875ee!important;
    color: white;
    font-size: 24px;
    border-radius: 20px;
    padding: 16px 40px 11px 40px!important;
}
.btn-signin-gm{
    background-color: #c05044!important;
    color: white;
    font-size: 24px;
    border-radius: 20px;
    padding: 16px 40px 11px 40px!important;
}

.btn-close-login {
    position: relative;
    top: -27px;
    left: 26px;
}

.btn-changelang:focus{
    border-bottom: none!important;
}
.btn-changelang .dropdown-toggle::after{
    display: none!important;
}
.btn-changelang .dropdown-menu{
    min-width: 0rem!important;
    margin: 2.4rem 0px 0px -20px!important;
}
.line-changelang{
    color: white;
    font-size: 32px;
}
.btn-changelang a{
    font-size: 25px!important;
}
.btn-changelang a.dropdown-item{
    color: black!important;
}
.content-profile .dropdown-toggle::after{
    display: none!important;
}

button.btn-active{border-bottom: 3px solid #e6252c;}

.fontSizeCase{
    line-height: 24px;
}
.form-password {
    position: relative;
}
.eye {
    position: absolute;
    top: 50%;
    right: 8%;
}
.eye:hover {
color: #00fcb6;
cursor: pointer;
}

/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
    .font-nav-mobile{
        color: white;
        font-family: 'HelvethaicaX';
        font-size: 20px;
        padding: 25px 0;
        text-align: left;
        font-size: 25px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 359px){ /* For iPhone 5 */
    .header-mobile{
    display: block;
    }
    .header-desktop{
    display: none;
    }
    .banner-login{
        display: none;
    }
    .logo-header{ width: 5%;}
    .btn-close-login {
        top: -20px !important;
        left: 28px !important;
        width: 25px ;
    }
    .header-sigin {
        font-size: 30px !important;
        padding: 5px 0px;
    }

    .setpositionmodal {
        position: absolute;
        margin: 0 !important;
        width: 90vw !important;
        padding: 0px !important;
    }

    .btn-signin-mail, .btn-signin-fb, .btn-signin-gm {
        font-size: 20px !important;
    }
    .btn-signin-mail {
        padding: 12px 40px 10px 40px!important
    }

    .form-login {
        padding-top: 18px;
    }
    
    .header-body-pt {
        font-size: 30px;
        line-height: 32px;
    }
    .font-nav-mobile{
        color: white;
        font-family: 'HelvethaicaX';
        font-size: 20px;
        padding: 25px 0;
        text-align: left;
        font-size: 22px;
    }
}
@media only screen and (orientation: landscape) and (max-width: 600px){ /* For iPhone 5 */
    .header-mobile{
    display: block;
    }
    .header-desktop{
    display: none;
    }
    .banner-login{
        display: none;
    }
    .logo-header{ width: 5%;}
    .btn-close-login {
        top: -20px !important;
        left: 28px !important;
        width: 25px ;
    }
    .header-sigin {
        font-size: 30px !important;
        padding: 5px 0px;
    }

    .setpositionmodal {
        width: 60vw !important;
        margin: auto !important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 360px) and (max-width: 374px){ /* For Galaxy S5 */
    .header-mobile{
    display: block;
    }
    .header-desktop{
    display: none;
    }
    .banner-login{
        display: none;
    }
    .font-nav-mobile {
        color: white;
        font-family: 'HelvethaicaX';
        font-size: 20px;
        padding: 25px 0;
        text-align: left;
        font-size: 25px;
    }
    .setpositionmodal{
        position: absolute;
        margin:0 !important;
        width:100% !important;
        padding: 0px !important;
        /* height: 40em; */
    }
    .header-sigin {
        font-size: 30px !important;
        padding: 5px 0px;
    }

    .btn-signin-mail, .btn-signin-fb, .btn-signin-gm {
        font-size: 20px !important;
    }
    .btn-signin-mail {
        padding: 12px 40px 10px 40px!important
    }
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .header-mobile{
    display: block;
    }
    .header-desktop{
    display: none;
    }
    .banner-login{
        display: none;
    }
    .font-PT{ font-size: 40px;}
    .font-body{ font-size: 20px; line-height: 50px; margin-top:5px;}
    .fix-icon{ width: 60%;}
    .container-content{ padding: 20px;}
    .div-navbarout{ display: none;}
    .content-body-pt{ font-size: 20px; line-height: 20px;}
    .mt-block{ padding: 5px; }
    .content-pt{ padding: 0;}
    .LazyLoad:not(.is-visible) { height: 120px;}
    .title-body{ font-size: 40px; line-height: 35px; margin: 0;}
    .fix-slider{ padding: 30px;} 
    .border-rds{ width: 30%;} 
    .border-rdss{ width: 80; border-radius: 25px; border: 1px solid white; line-height: 20px; padding-top: 10px; }
    .border-rdss.bb{border-radius: 25px; border: 1px solid #2aa84d;}
    .set-pdmobile{ padding: 0 30px; position: relative;}
    .set-seeall{ width: 80%;right: 28px;text-align: right; top: 50px;position: absolute;}
    .title-subcontent{ font-size: 40px; line-height: 35px; margin:0;}
    .bg-subcontent{ 
        background-position: bottom; 
        background: url(https://ptmaxcard.com/images/bgapp-pt.jpg) no-repeat center center fixed; 
        background-size: cover; 
        height: 100%; 
        background-attachment: scroll;
    }.content-sub{ padding: 5px 0;margin: 14px 0;}
    .btn-detail{ width: 47%;} .btn-detail.register{ width: 47%;}
    .text-sub-content{ font-size: 25px;} .set-seeall{ top:40px;}.title-green{ font-size: 40px; margin: 0 14px;}
    .btnstation{ width:130px;padding-top: 5px;} .btnstation.detail{ width: 130px;} 
    .setmb-station{
        position: absolute;   
        left: 16%;
        transform: translate(0, -113%);
    }.place-rec{ width: 14%;} .seeAllright{ margin: 34px 0;}
    .setalign{ 
        position: absolute;
        margin-top: -15%;
        transform: translate(65%, 10%);
    }
    .setalign-two{ 
        position: absolute;
        margin-left: 89px;
        margin-top: -33px;
    }
    .centered{
        transform: translate(-50%, 70%);
    } 
    .logo-header{ width: 30%;} 
    .settitlemb{     
        transform: translate(0, 40%);
        right: 5%;
        width: 8%;
    }
    .settitlebm{ 
        transform: translate(0, 40%);
        left: 50%;
        width: 50%;
    }
    .signinmb{ 
        padding-top: 10px;
        margin: 0 15px;
        background-color: #e0f0e3;
        color: #5fa755;
        font-family: 'HelvethaicBd';
        font-size: 30px;
        border: none;
    }
    .regismb{
        padding-top: 10px;
        margin: 0 15px;
        background-color: #c6292d;
        color: white;
        font-family: 'HelvethaicBd';
        font-size: 30px;
        border: none;
    }
    .setnavmb{ position: absolute; z-index: 999;width: 100%; top: 70%; }
    .arrow-up {
        margin-left: 87%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fefefe;
    }
    .arrow-down{
        left: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #75b652;
        position: absolute;
        top: 37%;
    }
    .bg-navigation-mobile{
        background-color: #75b652;
        height: 100vh;
    }
    .border-nav-mobile{
        border-bottom: 1px solid white;
    }
    .font-nav-mobile{
        color: white;
        font-family: 'HelvethaicaX';
        font-size: 20px;
        padding: 25px 0;
        text-align: left;
        font-size: 25px;
    }
    .setting-navpos{
        position: absolute;
        z-index: 999;
        padding: 50px 50px;
        margin-top: 34px;
        width: 375px;
        left: 0;
    }
    .bd-radius{
        border-radius: 20px;
        padding-top: 8px;
        margin: 20px 30px;
        background-color: #c6292d;
        color: white;
        font-family: 'HelvethaicBd';
        font-size: 25px;
        border: none;
    }
    .navbar-light .navbar-toggler{
        border:none;
    }
    .navbarsetting{
        position: absolute;
        /* z-index: 999; */
        top: 25%;
    }
    .dropdown-toggle::after{
        border:none;
    }
    a:hover{
        color: white;
    }
    .dropdown-item{
        font-family: 'HelvethaicaX' !important;
        font-size: 23px;
        color: #75b652;
        padding: 15px 50px;
    }
    .border-dropdown-it{
        border-bottom: 1px solid #75b652;
    }
    .navbar-nav .dropdown-menu {
        width: 136.5%;
        margin-top: -1px;
        border: none;
        border-radius: 0;
        margin-left: -50px;
        position: static;
        float: none;
    }

    .setpositionmodal{
        position: absolute;
        margin:0 !important;
        width: 85vw !important;
        padding: 0px !important;
        /* height: 40em; */
    }
    .header-sigin {
        font-size: 36px !important;
        padding: 5px 0px;
    }

    .btn-close-login {
        top: -18px !important;
        left: 27px !important;
    }

    .form-login {
        padding-top: 18px;
    }
    .font-nav-mobile {
        color: white;
        font-family: 'HelvethaicaX';
        font-size: 20px;
        padding: 25px 0;
        text-align: left;
        font-size: 25px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .header-mobile{
    display: block;
    }
    .header-desktop{
    display: none;
    }
    .banner-login{
        display: none;
    }
    .font-PT{ font-size: 40px;}
    .font-body{ font-size: 20px; line-height: 50px; margin-top:5px;}
    .fix-icon{ width: 60%;}
    .container-content{ padding: 20px;}
    .div-navbarout{ display: none;}
    .content-body-pt{ font-size: 20px; line-height: 20px;}   
    .mt-block{ padding: 5px; }
    .content-pt{ padding: 0;}
    .LazyLoad:not(.is-visible) { height: 120px;}
    .title-body{ font-size: 40px; line-height: 35px; margin: 0;}
    .fix-slider{ padding: 30px;} 
    .border-rds{ width: 30%;} 
    .border-rdss{ width: 80; border-radius: 25px; border: 1px solid white; line-height: 20px; padding-top: 10px; }
    .border-rdss.bb{border-radius: 25px; border: 1px solid #2aa84d;}
    .set-pdmobile{ padding: 0 30px; position: relative;}
    .set-seeall{ width: 80%;right: 28px;text-align: right; top: 50px;position: absolute;}
    .title-subcontent{ font-size: 40px; line-height: 35px; margin:0;}
    .bg-subcontent{ 
        background-position: bottom; 
        background: url(https://ptmaxcard.com/images/bgapp-pt.jpg) no-repeat center center fixed; 
        background-size: cover; 
        height: 100%; 
        background-attachment: scroll;
    }.content-sub{ padding: 5px 0;margin: 14px 0;}
    .btn-detail{ width: 47%;} .btn-detail.register{ width: 47%;}
    .text-sub-content{ font-size: 25px;} .set-seeall{ top:40px;}.title-green{ font-size: 40px; margin: 0 14px;}
    .btnstation{ width:130px;padding-top: 5px;} .btnstation.detail{ width: 130px;} 
    .setmb-station{
        position: absolute;   
        left: 16%;
        transform: translate(0, -113%);
    }.place-rec{ width: 14%;} .seeAllright{ margin: 34px 0;}
    .setalign{ 
        position: absolute;
        margin-top: -15%;
        transform: translate(65%, 10%);
    }
    .setalign-two{ 
        position: absolute;
        margin-left: 89px;
        margin-top: -33px;
    }
    .centered{
        transform: translate(-50%, 70%);
    } 
    .logo-header{ width: 30%;} 
    .settitlemb{     
        transform: translate(0, 40%);
        right: 5%;
        width: 8%;
    }
    .settitlebm{ 
        transform: translate(0, 40%);
        left: 50%;
        width: 50%;
    }
    .signinmb{ 
        padding: 20px 0;
        margin: 0 15px;
        background-color: #e0f0e3;
        color: #5fa755;
        font-family: 'HelvethaicBd';
        font-size: 30px;
        border: none;
    }
    .regismb{
        padding: 20px 0;
        margin: 0 15px;
        background-color: #c6292d;
        color: white;
        font-family: 'HelvethaicBd';
        font-size: 30px;
        border: none;
    }
    .setnavmb{ position: absolute; z-index: 999;width: 100%; top: 70%; }
    .arrow-up {
        margin-left: 87%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fefefe;
    }
    .arrow-down{
        left: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #75b652;
        position: absolute;
        top: 37%;
    }
    .bg-navigation-mobile{
        background-color: #75b652;
        height: 100vh;
    }
    .border-nav-mobile{
        border-bottom: 1px solid white;
    }
    .font-nav-mobile{
        color: white;
        font-family: 'HelvethaicaX';
        font-size: 20px;
        padding: 25px 0;
        text-align: left;
        font-size: 25px;
    }
    .setting-navpos{
        position: absolute;
        z-index: 999;
        padding: 50px 50px;
        margin-top: 34px;
        width: 375px;
        left: 0;
    }
    .bd-radius{
        border-radius: 20px;
        padding-top: 8px;
        margin: 20px 30px;
        background-color: #c6292d;
        color: white;
        font-family: 'HelvethaicBd';
        font-size: 25px;
        border: none;
    }
    .navbar-light .navbar-toggler{
        border:none;
    }
    .navbarsetting{
        position: absolute;
        /* z-index: 999; */
        top: 25%;
    }
    .dropdown-toggle::after{
        border:none;
    }
    a:hover{
        color: white;
    }
    .dropdown-item{
        font-family: 'HelvethaicaX';
        font-size: 23px;
        color: #75b652;
        padding: 15px 50px;
    }
    .border-dropdown-it{
        border-bottom: 1px solid #75b652;
    }
    .navbar-nav .dropdown-menu {
        width: 136.5%;
        margin-top: -1px;
        border: none;
        border-radius: 0;
        margin-left: -50px;
        position: static;
        float: none;
    }

    .setpositionmodal{
        position: absolute;
        margin:0 !important;
        width: 85vw !important;
        padding: 0px !important;
        /* height: 40em; */
    }
}
@media only screen and (orientation: landscape) and (max-width: 736px){ /* For For iPhone 6,7,8 plus */
    .header-mobile{
    display: block;
    }
    .header-desktop{
    display: none;
    }
    .banner-login{
        display: none;
    }
    .logo-header{ width: 5%;}
    .btn-close-login {
        top: -20px !important;
        left: 28px !important;
        width: 25px ;
    }
    .header-sigin {
        font-size: 30px !important;
        padding: 5px 0px;
    }

    .setpositionmodal {
        width: 60vw !important;
        margin: auto !important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
    .header-mobile{
        display: block;
    }
    .header-desktop{
        display: none;
    }
    .nav-headermobile{ top: 30px;}
    .font-nav-mobile{
        color: white;
        font-family: 'HelvethaicaX';
        font-size: 20px;
        padding: 25px 0;
        text-align: left;
        font-size: 25px;
    }
    .bg-nav-headermobile{
        height: 42vh !important;
    }
    .setpositionmodal{
        width: 90vw !important;
    }
    .btn-close-login {
        top: -28px !important;
        left: 32px !important;
    }
}
@media only screen and (orientation: landscape) and (max-width: 812px){ /* For For iPhone 6,7,8 plus */
    .header-mobile{
    display: block;
    }
    .header-desktop{
    display: none;
    }
    .banner-login{
        display: none;
    }
    .logo-header{ width: 5%;}
    .btn-close-login {
        top: -20px !important;
        left: 28px !important;
        width: 25px ;
    }
    .header-sigin {
        font-size: 30px !important;
        padding: 5px 0px;
    }

    .setpositionmodal {
        width: 60vw !important;
        margin: auto !important;
    }

    /* .btn-signin-mail, .btn-signin-fb, .btn-signin-gm {
        font-size: 20px !important;
    }
    .btn-signin-mail {
        padding: 12px 40px 10px 40px!important
    }

    .form-login {
        padding-top: 18px;
    }
    
    .header-body-pt {
        font-size: 30px;
        line-height: 32px;
    } */
}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */
    .header-mobile{
    display: none;
    }
    .header-desktop{
    display: block;
    }
    .btn-close-login {
        top: -28px !important;
        left: 30px !important;
    }
    .nav-topmenu{
        margin-top: -6%;
    }
}
@media only screen and (orientation: landscape) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */
    .btn-close-login {
        top: -25px !important;
        left: 42px !important;
    }
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
        .font-PT{ font-size: 40px;}
        .font-body{ font-size: 20px; line-height: 50px; margin-top:5px;}
        .fix-icon{ width: 60%;}
        .container-content{ padding: 20px;}
        .div-navbarout{ display: none;}
        .content-body-pt{ font-size: 20px; line-height: 20px;}
        .mt-block{ padding: 5px; }
        .content-pt{ padding: 0;}
        .LazyLoad:not(.is-visible) { height: 120px;}
        .title-body{ font-size: 40px; line-height: 35px; margin: 0;}
        .fix-slider{ padding: 30px;} 
        .border-rds{ width: 30%;} 
        .border-rdss{ width: 80; border-radius: 25px; border: 1px solid white; line-height: 20px; padding-top: 10px; }
        .border-rdss.bb{border-radius: 25px; border: 1px solid #2aa84d;}
        .set-pdmobile{ padding: 0 30px; position: relative;}
        .set-seeall{ width: 80%;right: 28px;text-align: right; top: 50px;position: absolute;}
        .title-subcontent{ font-size: 40px; line-height: 35px; margin:0;}
        .bg-subcontent{ 
            background-position: bottom; 
            background: url(https://ptmaxcard.com/images/bgapp-pt.jpg) no-repeat center center fixed; 
            background-size: cover; 
            height: 100%; 
            background-attachment: scroll;
        }.content-sub{ padding: 5px 0;margin: 14px 0;}
        .btn-detail{ width: 47%;} .btn-detail.register{ width: 47%;}
        .text-sub-content{ font-size: 25px;} .set-seeall{ top:40px;}.title-green{ font-size: 40px; margin: 0 14px;}
        .btnstation{ width:130px;padding-top: 5px;} .btnstation.detail{ width: 130px;} 
        .setmb-station{
            position: absolute;   
            left: 16%;
            transform: translate(0, -113%);
        }.place-rec{ width: 14%;} .seeAllright{ margin: 34px 0;}
        .setalign{ 
            position: absolute;
            margin-top: -15%;
            transform: translate(65%, 10%);
        }
        .setalign-two{ 
            position: absolute;
            margin-left: 89px;
            margin-top: -33px;
        }
        .centered{
            transform: translate(-50%, 70%);
        } 
        .logo-header{ width: 30%;} 
        .settitlemb{     
            transform: translate(0, 40%);
            right: 5%;
            width: 8%;
        }
        .settitlebm{ 
            transform: translate(0, 40%);
            left: 50%;
            width: 50%;
        }
        .signinmb{ 
            padding: 20px 0;
            margin: 0 15px;
            background-color: #e0f0e3;
            color: #5fa755;
            font-family: 'HelvethaicBd';
            font-size: 30px;
            border: none;
        }
        .regismb{
            padding: 20px 0;
            margin: 0 15px;
            background-color: #c6292d;
            color: white;
            font-family: 'HelvethaicBd';
            font-size: 30px;
            border: none;
        }
        .setnavmb{ position: absolute; z-index: 999;width: 100%; top: 70%; }
        .arrow-up {
            margin-left: 87%;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #fefefe;
        }
        .arrow-down{
            left: 0;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #75b652;
            position: absolute;
            top: 37%;
        }
        .bg-navigation-mobile{
            background-color: #75b652;
            height: 100vh;
        }
        .border-nav-mobile{
            border-bottom: 1px solid white;
        }
        .font-nav-mobile{
            color: white;
            font-family: 'HelvethaicaX';
            font-size: 20px;
            padding: 25px 0;
            text-align: left;
            font-size: 25px;
        }
        .setting-navpos{
            position: absolute;
            z-index: 999;
            padding: 50px 50px;
            margin-top: 34px;
            width: 375px;
            left: 0;
        }
        .bd-radius{
            border-radius: 20px;
            padding-top: 8px;
            margin: 20px 30px;
            background-color: #c6292d;
            color: white;
            font-family: 'HelvethaicBd';
            font-size: 25px;
            border: none;
        }
        .navbar-light .navbar-toggler{
            border:none;
        }
        .navbarsetting{
            position: absolute;
            /* z-index: 999; */
            top: 25%;
        }
        .dropdown-toggle::after{
            border:none;
        }
        a:hover{
            color: white;
        }
        .dropdown-item{
            font-family: 'HelvethaicaX';
            font-size: 23px;
            color: #75b652;
            padding: 15px 50px;
        }
        .border-dropdown-it{
            border-bottom: 1px solid #75b652;
        }
        .navbar-nav .dropdown-menu {
            width: 136.5%;
            margin-top: -1px;
            border: none;
            border-radius: 0;
            margin-left: -50px;
            position: static;
            float: none;
        }
}