.policy-content{
    padding-top: 60px;
    padding-bottom: 60px;
}
.policy-title{
    color: white;
    font-family: 'HelvethaicaMed';
    font-size: 44px;
    line-height: 48px;
}
.policy-subtitle{
    font-family: 'HelvethaicaMed';
    font-size: 24px;
}
.policy-text{
    font-family: 'HelvethaicaMed';
    font-size: 20px;
}
.policy-text-sub{
    font-family: 'HelvethaicaMed';
    font-size: 20px;
    padding-left: 10px;
}
.policy-text-space{
    padding-left: 20px;
}
.policy-card-body{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
}

/* Responsive */
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 1023px){ /* For iPhone  */
    .policy-card-body{
        padding: 20px;
    }
}

.policycookie-text table td{
    font-family: 'HelvethaicaMed';
    font-size: 20px;
    line-height: 22px;
    color: #707070;
}