.img-news{
    width: 100%;
}
.sub-head-title{
    color: #53a149;
    font-size: 25px;
    font-family: 'HelvethaicBd';
}
.content-sub{
    color: #53a149;
}
.datetime-sub{
    color: #53a149;
    text-align: left;
    font-size: 20px;
    font-family: 'HelvethaicaMed';
}
.readmore-sub{
    left: -5%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: #53a149;
    font-family: 'HelvethaicaMed';
}

.header-privilege{ color: #53a149; font-size: 50px; margin: 0 30px;padding: 30px;}
.set-title-pr{ font-size: 30px; color: #53a149;}
.img-pri{ width: 70%;}
.set-mt-content{ margin: 50px 50px;}
.nav{ display: contents !important;}
.set-content-header{
    margin-left: 3%;
    display: inline-flex;
}
a{
    color: #53a149;
}
.set-detail-col{
    line-height: 25px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #495057;
    border-bottom: 3px solid #53a149;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
.btn-primary{
    color: #fff;
    background-color: #53a149;
    border-radius: 15px;
    font-size: 20px;
    width: 50%;
    margin: 20px;
    border-color: transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    color: #495057;
    border-bottom: 3px solid #53a149;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size:28px;
}
/* .nav-tabs .nav-link{

}  */
.nav-link:focus, .nav-link:hover{
    border: none;
}
.nav-item{
    margin: 0 20px;
}
.card-body:hover{
    background-color: #a6c64b;
    border-radius: 10px;
    height: 80px;
    line-height: 16px;
}
.bg-web-pri{
    background-image: url(/images/bg_web-01.jpg);
    background-position: bottom;
    background-size: cover;
}
.card-pri{
    background-color: white;
    border-radius: 10px;
}
.hover-news:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #dadada!important;
}
.setdetailpri{
    font-family: 'HelvethaicaX';
    font-size: 21px;
}
.btn-pri:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.mobile-pt{
    display: none;
}
.nav-pills .nav-link{
    background-color: #ccc;
}

.text-word-wrap {
    word-wrap:break-word;
}
/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
    .pc-pt{
        display: none;
    }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
    .pc-pt{
        display: none;
    }

}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .pc-pt{
        display: none;
    }
    .set-mt-content{
        margin: 25px 25px;
    }
    .img-pri{
        width: 100%;
    }
    .set-detail-col{
        line-height: 20px;
        text-align: left;
    }
    .header-privilege{
        font-size: 30px;
        margin: 0 0;
    }
    .set-title-pr{
        font-size: 18px;
    }
    .set-content-header{
        overflow-x: overlay;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        background-color: #ccc;
    }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .pc-pt{
        display: none;
    }
    .mobile-pt{
        display: block;
    }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */

}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */

}
.nav-mt{
    margin: 0 10px;
}




.news-tab.tab-content {
    background: transparent!important;
    border: none!important;
    /* padding: 0px 60px!important */
}
.nav-news-tab a {
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 20px;
}
.nav-news-tab a.active{
    color: #495057;
    border-bottom: 3px solid #53a149;
}
.nav-news-tab a:hover{
    color: #495057;
    border-bottom: 3px solid #53a149;
}
.t-46{
    font-size: 46px;
}
.t-26{
    font-size: 26px;
}
.t-50{
    font-size: 50px;
}
.padding-header {
    padding: 40px 10px;
}
.bg-news-content{
    background-image: url(/images/bg_web-01.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: cover;
    background-size: 100%;
    padding: 40px 60px!important;
}
.news-title{
    margin-top: 10px;
    color: #53a149;
    font-size: 50px;
}
.news-card{
    border-color: transparent!important;
}
.news-cardbody{
    background-color: transparent!important;
    height: auto!important;
    line-height: auto!important;
    padding: 0.75rem!important;
}
.news-cardbody:hover{
    background-color: #ffffff!important;
    height: auto!important;
    line-height: auto!important;
    border-radius: 20px!important;
    box-shadow: 0 0.0625rem 20px 0 rgba(0,0,0,.05)
}
.card-news-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-news-title{
    text-align: left;
    color: #53a149;
    margin-top: 20px;
    font-size: 25px;
}
.card-news-shotDes{
    text-align: left;
    color: #53a149;
    font-size: 18px;
    margin-top: 10px;
}
.card-news-more{
    padding: 18px 20px 10px 20px;
    color: white;
    font-size: 18px;
    background-color: #53a149;
    border-radius: 20px;
}
.card-news-date{
    color: #53a149;
    font-size: 18px;
}

/* Responsive */
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
    .bg-news-content {
        padding: 40px 10px !important;
    }
    .news-title{
        font-size: 34px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .bg-news-content {
        padding: 40px 10px !important;
    }
    .news-title{
        font-size: 34px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .bg-news-content {
        padding: 40px 10px !important;
    }
    .news-title{
        font-size: 34px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
    .bg-news-content {
        padding: 40px 30px !important;
    }
    .news-title{
        font-size: 42px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */
    .bg-news-content {
        padding: 40px 30px !important;
    }
    .news-title{
        font-size: 42px;
    }
}


.text-newsub-detail{
    font-size: 24px!important;
    color: #53a149!important;
}