.img-logodetail{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
}

.t-height-20{
    line-height: 20px;
}

input.form-control.input-search{border-right: 0;padding-left: 55px;background-color: #fff;border:0;box-shadow: 0px 0px 5px 1px #eeeeee;border-radius: 5px!important;}
input.form-control.input-search::placeholder { color: #dcdcdc;}
input.form-control.input-search:focus{
    border-right: 0;
    padding-left: 55px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px #e3e3e3;
    border-radius: 5px!important;
    /* border: 1px bold #3bb8aa; */

}
.header-location-font{
    padding-top: 100px;
    padding-bottom: 60px;
    color: #53a149;
    font-size: 70px;
}
label, legend{
    display: inline-flex;
}
.localtion-btn-nextstep{
    background-color: #53a149;
    font-family: 'HelvethaicaMed';
    font-size: 25px;
    color: white;
    border-radius: 20px;
    padding-top: 10px;
}
a.localtion-btn-nextstep{
    background-color: #28a354;
    font-family: 'HelvethaicaMed';
    font-size: 25px;
    color: white;
    border-radius: 20px;
    padding-top: 10px;
}
.subheader-location{
    font-family: 'HelvethaicaMed';
    color: black;
    font-size: 23px;
}
.set-font-selected{
    font-family: initial;
    font-family: 'HelvethaicaMed';
    padding-top: 10px!important;
}
.kmdis{
    font-size: 20px;
}
/* list location */
.ft-location-list{ font-size: 20px; padding: 10px 0; border-bottom: 2px solid #e3e3e3;}
.main-mt-50{margin-top: 50px;}
.btn-select-location{
    left: 0;
    right: 0;
    z-index: 9999;
}
.bg-mainlocation{
    background: url(https://ptmaxcard.com/images/s-location.jpg);
}
.next-page{font-size: 23px;}

.settinPaddingMapFilter{
    margin-top: 100px;
    margin-bottom: 100px;
}

.location-card-body{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px 50px;
}
.location-border{
  border-bottom: 2px dashed gainsboro;
  margin: 2% 5%;
  padding-bottom: 20px;
  line-height: 35px;
}


input.form-control.location-search{
    border-right: 0;
    padding-left: 55px;
    background-color: #fff;
    border:0;
    box-shadow: 0px 0px 5px 1px #eeeeee;
    border-radius: 5px!important;
}
input.form-control.location-search::placeholder { color: #dcdcdc; }
input.form-control.location-search:focus{
    border-right: 0;
    padding-left: 55px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px #e3e3e3;
    border-radius: 5px!important;
    /* border: 1px bold #3bb8aa; */

}
.btn-location{
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}

.container.hilight-group {
    height: 140px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden
}
.img-mg-10{
    margin: 0 5px;
    box-shadow: 0 2px 8px 0 #e4e4e4ee;
    border-radius: 10px;
}
.container.hilight-group.shoppartner{ height: 160px;}
.ft-size-head{     
    font-size: 23px;
    margin: 10px 0;
}

.content-logo-branch {
    position: relative;
    top: 0px;
}

.search-station .btn-home-ptcardgreen-location {
    width: 125px;
}


.scrollmenu-ptg{
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu-ptg::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.scrollmenu-ptg .card {
    vertical-align: top;
    display: inline-block;
    margin: 0px 7px;
    background: url(https://ptmaxcard.com/images/img_default.png) no-repeat center;
    background-size: 60px 60px;
}

.scrollmenu-ptg .product{
    height: 100px;
}

.scrollmenu-ptg .product img {
    width: 100px;
    background: #ffffff;
    max-height: 98px;
}

.scrollmenu-ptg .product-partner{
    height: 150px;
}

.scrollmenu-ptg .product-partner img {
    width: 150px;
    background: #ffffff;
    max-height: 148px;
}

.scrollmenu-ptg .deal-product {
    width: 250px;
}

.scrollmenu-ptg .deal-product img {
    width: 250px;
    background: #ffffff;
    max-height: 248px;
}

.scrollmenu-ptg .deal-product .card-body{
    white-space: break-spaces;
    color: #000000;
    background-color: #ffffff;
}

.scrollmenu-ptg .deal-product .card-text{
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop{
    color: #000000;
    font-size: 1.4rem;
}

.shop .content{
    /* display: flex; */
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    height: 100px;
    line-height: 20px;
}

.shop .content-text {
    padding: 1rem 2rem;
}

.shop .img-shop-ptg{
    height: 100%;
    width: 100px;
}

.shop .text-green{
    font-size: 1.2rem;
    color: #28a354;
}

.shop .text-gray{
    font-size: 1rem;
    color: #9a9a9a;
}

.shop .button-search .btn {
    border: 1px solid #28a354;
    border-radius: 20px;
    color: #28a354;
    width: 126px;
    font-size: 20px;
    padding: 5px 0px 0px 0px;
}


@keyframes loader {
    0% {
      transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }

/* Responsive */
@media screen and (orientation: landscape) and (max-width: 960px) {
    .header-location-font{
        font-size: 53px;
        padding-top: 60px;
    }
    .main-mt-50{margin-top: 100px;}
    .location-card-body{
        background-color: none!important;
        border-radius: 0!important;
        box-shadow:none!important;
        padding: 0!important;
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px){ /* For iPhone 5 */
    .header-location-font{
        font-size: 53px;
        padding-top: 60px;
    }
    .main-mt-50{margin-top: 100px;}
    .location-card-body{
        background-color: none!important;
        border-radius: 0!important;
        box-shadow:none!important;
        padding: 0!important;
    }
    .top-location-mt {
        height: 400px;
        object-fit: cover;
    }
    .content-top {
        margin: 20px 0px;
    }
    .content-logo-branch {
        position: relative;
        top: -80px;
    }

    .shop{
        color: #000000;
        font-size: 1rem;
    }
    
    .shop .content{
        display: flex;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
        height: 85px;
        line-height: 14px;
    }
    
    .shop .content-text {
        padding: 1rem .5rem;
    }

    .shop .img-shop-ptg{
        height: 100%;
        width: 85px;
    }

    .shop .text-green{
        font-size: .9rem;
        color: #28a354;
    }

    .shop .text-gray{
        font-size: .9rem;
        color: #9a9a9a;
    }

    .shop .button-search {
        display: none;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px){ /* For iPhone 6,7,8 */
    .header-location-font{
        font-size: 53px;
        padding-top: 60px;
    }
    .main-mt-50{margin-top: 100px;}
    .location-card-body{
        background-color: none!important;
        border-radius: 0!important;
        box-shadow:none!important;
        padding: 0!important;
    }
    .top-location-mt {
        height: 400px;
        object-fit: cover;
    }
    .content-top {
        margin: 20px 0px;
    }
    .content-logo-branch {
        position: relative;
        top: -80px;
    }

    .shop{
        color: #000000;
        font-size: 1rem;
    }
    
    .shop .content{
        display: flex;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
        height: 85px;
        line-height: 14px;
    }
    
    .shop .content-text {
        padding: 1rem .5rem;
    }

    .shop .img-shop-ptg{
        height: 100%;
        width: 85px;
    }

    .shop .text-green{
        font-size: .9rem;
        color: #28a354;
    }

    .shop .text-gray{
        font-size: .9rem;
        color: #9a9a9a;
    }

    .shop .button-search {
        display: none;
    }
}
@media only screen and (min-width: 414px) and (max-width: 736px){ /* For iPhone 6,7,8 plus */
    .header-location-font{
        font-size: 53px;
        padding-top: 60px;
    }
    .main-mt-50{margin-top: 100px;}
    .location-card-body{
        background-color: none!important;
        border-radius: 0!important;
        box-shadow:none!important;
        padding: 0!important;
    }
    .content-top {
        margin: 20px 0px;
    }
    .content-logo-branch {
        position: relative;
        top: -80px;
    }

    .shop{
        color: #000000;
        font-size: 1rem;
    }
    
    .shop .content{
        display: flex;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
        height: 85px;
        line-height: 14px;
    }
    
    .shop .content-text {
        padding: 1rem .5rem;
    }

    .shop .img-shop-ptg{
        height: 100%;
        width: 85px;
    }

    .shop .text-green{
        font-size: .9rem;
        color: #28a354;
    }

    .shop .text-gray{
        font-size: .9rem;
        color: #9a9a9a;
    }

    .shop .button-search {
        display: none;
    }
}   
@media only screen and (min-width: 737px) and (max-width: 1023px){  /* For iPad mini , iPad */
    .main-mt-50{ padding-top: 7%;}
    .top-location-mt{margin-top: 26%;}
    .content-top {
        margin: 20px 0px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */
    .main-mt-50{padding-top: 25%;}
    .top-location-mt{margin-top: 26%;}
}


.newmap-content-filter{
    padding: 0px 30px;
}
.pinMap-location{
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
    /* border: 2px solid #a5a5a5ee; */
}
.btn-location-resetloca{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17px;
    padding-bottom: 10px;
    background-color: #28a354;
    font-family: 'HelvethaicaMed';
    font-size: 20px!important;
    color: white;
    border-radius: 20px;
}
.newmap-subtitle-shop{
    font-size: 26px;
    padding-bottom: 5px;
}
.newmap-icon-shop{
    width: 40px;
}
.newmap-icon-shop-uncheck{
    width: 40px;
    opacity: 0.3;
}
.newmap-select-find{
    font-family: 'HelvethaicaMed'!important;
    font-size: 20px!important;
    border-radius: 25px!important;
    padding: 10px 25px 3px 20px!important;
    height: auto!important;
}
select.newmap-select-find:focus{
    box-shadow: none!important;
    border: 1px solid #53a149!important;
}
.newmap-distance .rangeslider__fill{
    background: #53a149!important;
}
.newmap-btn{
    text-align: center;
    background-color: #53a149;
    font-family: 'HelvethaicaMed'!important;
    font-size: 25px!important;
    color: white!important;
    border-radius: 20px!important;
    padding-top: 12px;
    padding-bottom: 4px;
}

.newmap-distance-icon:focus{
    outline: none!important;
}
.newmap-contentmap{
    width: 100%!important;
    height: 'auto'!important;
}

@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 1023px){ /* For iPhone */
    .newmap-contentmap{
        width: 100%!important;
    height: 100vh!important;
    }
}
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px){  /* For iPad Pro */
    .newmap-contentmap{
        width: 100%!important;
        height: 100vh!important;
    }
}